{{breadcrumb|raw}}

<div id="search_box">
	<input type="text" name="query" data-placeholder="Search" value="{{query|escape}}" class="query" />
	<button name="submit" class="submit">Search</button>

	<div class="options">
		Source: <div class="sources"></div>
	</div>
</div>

<div id="results">
	<div class="_results" data-query="{{query|escape}}">
		{{results|raw}}
	</div>

	{% if count == 0 %}
		<div class="no_results">No results found. Try using a different query.</div>
	{% endif %}
</div>
