{{breadcrumb|raw}}

<div id="search_box">
</div>

<div id="results">
	<div class="_results" data-query="{{query|escape}}">
	</div>

	<div class="load_more">
		<a href="#">load more results</a>
	</div>

	<div class="loading">
		<canvas></canvas>
		<span class="text">loading...</span>
	</div>

	<div class="no_results">No results found. Try using a different query.</div>
</div>
