[submodule "util/deps/phing"]
	path = util/deps/phing
	url = git://github.com/phingofficial/phing.git
[submodule "lib/lightopenid"]
	path = lib/lightopenid
	url = git://gitorious.org/lightopenid/lightopenid.git
[submodule "lib/php-markdown"]
	path = lib/php-markdown
	url = git://github.com/michelf/php-markdown.git
