#search_box
{
	background: #efefef;
	border: 1px solid #cacaca;
	border-radius: 2px;
	font-size: 0;
	margin: 15px 0 0 0;
	padding: 4px;
	position: relative;
}

#search_box > input.query
{
	border: 1px solid #bbb;
	border-radius: 2px 0 0 2px;
	color: #666;
	font-size: 13px;
	padding: 3px;
	outline: none;
	width: 400px;
}

#search_box > input.query.inactive
{
	color: #aaa;
}

#search_box > button.submit
{
	background: #ddd;
	border: 1px solid #bbb;
	border-left: 0;
	border-radius: 0 2px 2px 0;
	font-size: 13px;
	padding: 3px;
}

#search_box > .options
{
	font-size: 13px;
	position: absolute;
	right: 4px;
	top: 4px;
}

#search_box > .options .sources
{
	display: inline-block;
	font-size: 0;
}

#search_box > .options .sources a
{
	background: #ddd;
	border: 1px solid #bbb;
	border-right-width: 0;
	color: #666;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	padding: 3px 6px;
}

#search_box > .options .sources a:first-child
{
	border-radius: 2px 0 0 2px;
}

#search_box > .options .sources a:last-child
{
	border-right-width: 1px;
	border-radius: 0 2px 2px 0;
}

#search_box > .options .sources a.selected
{
	background-color: #FEF098;
}

#results
{
	margin: 15px 0 0 0;
}

#results article
{
	margin: 0 0 30px 0;
}

#results article header
{
	color: #bbb;
	font-size: 20px;
	font-weight: normal;
}

#results article header .source
{
	color: #999;
	font-size: 18px;
}

#results article header .title
{
	color: #555;
	text-decoration: none;
}

#results article header .title:hover
{
	text-decoration: underline;
}

#results article header .title mark
{
	background: none;
	color: #222;
	font-weight: bold;
}

#results article header .info
{
	color: #aaa;
	float: right;
	font-size: 13px;
	margin: 5px 0 0 0;
	text-decoration: none;
}

#results article section
{
	color: #777;
	font-size: 16px;
	text-align: justify;
}

#results article section.embedded
{
	background: #eee;
	border: 1px solid #ccc;
	border-left-width: 3px;
	margin: 3px 0 0 0;
	padding: 5px 15px 5px 15px;
}

#results article section mark
{
	background: none;
	color: #656565;
	font-weight: bold;
}

#results article.type_HSSObject .parsedContent
{
	font-size: 14px;
}

#results article.type_HSSProperty header .ro,
#results article.type_HSSProperty header .permanent
{
	background: #b94a48;
	border-radius: 2px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	padding: 1px 4px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-transform: lowercase;
}

#results article.type_HSSProperty header .ro
{
	background: #b94a48;
}

#results article.type_HSSProperty header .permanent
{
	background: #3a87ad;
}

#results > .no_results
{
	font-size: 16px;
	text-align: center;
}
