#downloads
{

	margin: auto;
	padding: 20px 0 0 0;
	width: 806px;
}

#downloads > h2
{

	border-bottom: 1px solid #d8d8d8;
	color: #666;
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0 5px 0;
	padding: 5px;
}

#downloads > .none
{

	padding: 10px 5px;
}

#downloads > .dtable
{

	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

#downloads > .dtable > li
{

	background: #d8d8d8;
	font-size: 13px;
	height: 37px;
	margin: 0 0 1px 0;
	padding: 0;
}

#downloads > .dtable > li.head
{

	background: none;
}

#downloads > .dtable > li > .version
{

	display: inline-block;
	padding: 10px 20px;
}

#downloads > .dtable > li > ul
{
	float: right;
	font-size: 0;
	height: 37px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#downloads > .dtable > li > ul > li
{

	border-left: 1px solid #e5e5e5;
	display: block;
	float: left;
	font-size: 13px;
	height: 37px;
	width: 140px;
}

#downloads > .dtable > li.head > ul > li
{

	height: 27px;
	padding: 10px 20px 0 20px;
	width: 100px;
}

#downloads > .dtable > li > ul > li > a,
#downloads > .dtable > li > ul > li > span
{

	color: #666;
	display: block;
	height: 27px;
	padding: 10px 20px 0 20px;
	text-decoration: none;
}

#downloads > .dtable > li > ul > li > a:hover
{

	text-decoration: underline;
}

#downloads > .dtable > li > ul > li > a > .block_0
{

	background: url(../images/sprite32.png) no-repeat 9999px 9999px;
	display: inline-block;
	height: 16px;
	margin: 0 10px 0 0;
	width: 16px;
}

#downloads > .dtable > li > ul > li > a > .block_0.win
{

	background-position: -213px -90px;
}

#downloads > .dtable > li > ul > li > a > .block_0.osx
{

	background-position: -231px -90px;
}

#downloads > .dtable > li > ul > li > a > .block_0.linux
{

	background-position: -247px -90px;
}

#downloads__ask_arch
{
	display: none;
	left: 50%;
	position: fixed;
	top: 50%;
	z-index: 900;
}

#downloads__ask_arch > .outer
{
	border: 1px solid #ccc;
	border-radius: 7px;
	background: rgba(100, 100, 100, 0.05);
	margin: -55px 0 0 -170px;
	padding: 3px;
}

#downloads__ask_arch > .outer > .inner
{
	background: #eee;
	border-radius: 6px;	
	height: 110px;
	padding: 10px;
	position: relative;
	width: 340px;
}

#downloads__ask_arch > .outer > .inner a.close
{
	color: #999;
	font-weight: bold;
	position: absolute;
	right: 6px;
	top: 3px;
	text-decoration: none;
}

#downloads__ask_arch > .outer > .inner h2
{
	border-bottom: 1px solid #ccc;
	display: block;
	margin: 0 0 4px 0;
	padding: 0 0 4px 0;
	text-align: left;
}

#downloads__ask_arch > .outer > .inner p
{
	line-height: 1.7;
}

#downloads__ask_arch > .outer > .inner p span
{
	font-weight: bold;
}

#downloads__ask_arch > .outer > .inner .options
{
	text-align: center;
}

#downloads__ask_arch > .outer > .inner .options a
{
	color: #D09610;
	display: inline-block;
	margin: 0 7px;
	text-decoration: none;
}

#downloads__ask_arch > .outer > .inner .options a:hover
{
	text-decoration: underline;
}

