#downloads
{

	margin: auto;
	padding: 20px 0 0 0;
	width: 806px;
}

#downloads > h2
{

	border-bottom: 1px solid #d8d8d8;
	color: #666;
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0 5px 0;
	padding: 5px;
}

#downloads > .none
{

	padding: 10px 5px;
}

#downloads > .dtable
{

	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

#downloads > .dtable > li
{

	background: #d8d8d8;
	font-size: 13px;
	height: 37px;
	margin: 0 0 1px 0;
	padding: 0;
}

#downloads > .dtable > li.head
{

	background: none;
}

#downloads > .dtable > li > .version
{

	display: inline-block;
	padding: 10px 20px;
}

#downloads > .dtable > li > ul
{

	float: right;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

#downloads > .dtable > li > ul > li
{

	border-left: 1px solid #e5e5e5;
	display: inline-block;
	font-size: 13px;
	height: 37px;
	position: relative;
	width: 140px;
	z-index: auto;
}

#downloads > .dtable > li.head > ul > li
{

	height: 27px;
	padding: 10px 20px 0 20px;
	width: 100px;
}

#downloads > .dtable > li > ul > li > a
{

	color: #666;
	display: block;
	height: 27px;
	padding: 10px 20px 0 20px;
	text-decoration: none;
}

#downloads > .dtable > li > ul > li > a:hover
{

	text-decoration: underline;
}

#downloads > .dtable > li > ul > li > a > .block_0
{

	background: url(../images/sprite32.png) no-repeat;
	display: inline-block;
	height: 16px;
	margin: 0 10px 0 0;
	width: 16px;
}

#downloads > .dtable > li > ul > li > a > .block_0.win
{

	background-position: -213px -90px;
}

#downloads > .dtable > li > ul > li > a > .block_0.osx
{

	background-position: -231px -90px;
}

#downloads > .dtable > li > ul > li > a > .block_0.linux
{

	background-position: -247px -90px;
}

#downloads > .dtable > li > ul > li:hover .archmenu
{

	display: block;
}

#downloads > .dtable > li > ul > li > .archmenu
{

	background: #d8d8d8;
	display: none;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 37px;
	width: 140px;
	z-index: 11;
}

#downloads > .dtable > li > ul > li > .archmenu > li
{

	margin: 0;
	padding: 0;
}

#downloads > .dtable > li > ul > li > .archmenu > li.na
{

	padding: 8px 20px;
}

#downloads > .dtable > li > ul > li > .archmenu > li > a
{

	color: #666;
	display: block;
	padding: 8px 20px;
	text-decoration: none;
	z-index: 11;
}

#downloads > .dtable > li > ul > li > .archmenu > li > a:hover
{

	text-decoration: underline;
}

