{% if breadcrumb.size > 1 %}
	<nav id="breadcrumb">
		{% for item in breadcrumb %}
			{% if forloop.last %}
				<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
					<span class="current" itemprop="title">{{item.title}}</span>
				</div>
			{% else %}
				<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="{{item.link|escape}}" itemprop="url"><span itemprop="title">{{item.title}}</span></a>
				</div>
				<span class="extra_0"></span>
			{% endif %}
		{% endfor %}
	</nav>
{% endif %}
