/* @override http://axr.dev/resources/axr/english/css/forum.css */

@import url(not_done.css);

#main #menu ul li.forum a
{
	opacity: 1;
	background-image: url(../images/sprite.jpg);
	background-position: -318px -102px;
}