#pathway, #footer
{
	display: none;
}

#content
{
	background: none;
	width: 425px;
	height: 150px;
	background-color: #CDCDCD;
	border-radius: 10px;
	padding: 30px 30px 30px 50px;
	margin-top: 70px;
}

#content > h1
{
	height: 57px;
	background-image: url(../images/not_done_stop.jpg);
	background-repeat: no-repeat;
	padding: 7px 30px 0 80px;
	font-size: 2em;
	color: #666;
}

#content > p
{
	padding: 0 0 0 80px;
}