<?xml version="1.0" encoding="UTF-8"?>

<project name="axr" default="site-install">
	<target name="init" depends="load-properties, setup-dirs" unless="project.initialized">
		<!-- Set property to prevent target from being executed multiple times -->
		<property name="project.initialized" value="true"/>
		<tstamp/>
	</target>

	<target name="setup-dirs" depends="load-properties">
		<if>
			<isset property="drupal.make.dir"/>
			<then>
				<property name="project.drupal.dir" value="${project.basedir}/${drupal.make.dir}" />
			</then>
			<else>
				<property name="project.drupal.dir" value="${project.basedir}" />
			</else>
		</if>

		<property name="project.sitesdir" value="${project.drupal.dir}/${project.code.dir}" />
		<property name="project.builddir" value="${project.basedir}/build" />
		<property name="project.toolsdir" value="${project.builddir}/tools" />
		<property name="project.dbdir" value="${project.builddir}/db" />
		<property name="project.dbscriptsdir" value="${project.basedir}/db/scripts" />
		<property name="project.deltasdir" value="${project.basedir}/db/deltas" />

		<mkdir dir="${project.dbdir}" />
	</target>

	<target name="load-properties">
		<php function="dirname" returnProperty="phing.dir">
			<param value="${phing.file}"/>
		</php>

		<property name="project.basedir" value="${phing.dir}" />

		<!-- Use condition instead of unless property as we cannot unset properties in Phing -->
		<if>
			<or>
				<!-- `istrue` evaluates to true is value is not set we need to check `isset` as well -->
				<not>
					<istrue value="${project.properties.loaded}" />
				</not>
				<not>
					<isset property="project.properties.loaded" />
				</not>
			</or>
			<then>
				<!-- By default Jenkins runs Phing from the directory containing the build file.  If this file is located in a subdirectory - e.g. when using Phing Drupal as a submodule - we need to reset the project basedir and reload properties. NB: This only works if the subdirectory is directly within the Drupal root directory. -->
				<if>
					<!-- If `build.properties` exists then assume we have a project root directory -->
					<available file="${project.basedir}/../server.properties"/>
					<then>
						<resolvepath propertyName="project.basedir" file="${project.basedir}/../"/>
					</then>
				</if>

				<!-- By default use default properties file `server.default.properties` -->
				<property name="project.properties.file" value="${phing.dir}/server.default.properties" />
				<!-- Load the default properties.Override in case `load-properties` are called multiple times. -->
				<property file="${project.properties.file}" override="true" />

				<!-- Allow override using `server.properties` in build file directory -->
				<available file="${phing.dir}/server.properties" property="project.properties.file" value="${phing.dir}/server.properties" />
				<!-- Allow override using `server.properties` in project base directory -->
				<available file="${project.basedir}/build.properties" property="project.properties.file" value="${project.basedir}/server.properties" />

				<!-- Load the overriding properties. -->
				<property file="${project.properties.file}" override="true" />

				<!-- Set property to prevent unnecessary additional invocations of this target -->
				<property name="project.properties.loaded" value="true" />
			</then>
		</if>
	</target>

	<target name="site-install" depends="init, setup-phing-drush" unless="project.installed">
		<drush command="site-install" assume="yes">
			<option name="db-url">mysql://${drupal.db.username}:${drupal.db.password}@${drupal.db.host}/${drupal.db.destinationdb}</option>
			<option name="db-prefix">${drupal.db.tablesprefix}</option>
			<option name="account-name">${drupal.account.name}</option>
			<option name="account-pass">${drupal.account.pass}</option>
			<option name="account-mail">${drupal.account.mail}</option>
			<option name="site-name">${drupal.site.name}</option>
			<option name="site-mail">${drupal.site.mail}</option>
			<param>${drupal.profile}</param>
		</drush>


		<property name="db.deployfile" value="${DSTAMP}${TSTAMP}-deploy.sql" />
		<property name="db.undofile" value="${DSTAMP}${TSTAMP}-undo.sql" />

		<dbdeploy url="mysql:host=${drupal.db.host};dbname=${drupal.db.productiondb}" userid="${drupal.db.username}" password="${drupal.db.password}" dir="${project.deltasdir}" outputfile="${project.dbscriptsdir}/${db.deployfile}" undooutputfile="${project.dbscriptsdir}/${db.undofile}" />

		<!-- Copy the production database to staging -->
		<exec command="${db.mysqldumppath} -h ${drupal.db.host} -u ${drupal.db.username} -p${drupal.db.password} ${drupal.db.productiondb} | ${db.mysqlpath} -h ${drupal.db.host} -u ${drupal.db.username} -p${drupal.db.password} ${drupal.db.destinationdb}" checkreturn="true" />

		<exec command="${db.mysqlpath} -h ${drupal.db.host} -u ${drupal.db.username} -p${drupal.db.password} ${drupal.db.destinationdb} &lt; ${project.dbscriptsdir}/${db.deployfile}" checkreturn="true" />


		<!-- enable template-->
		<drush command="pm-enable" assume="yes">
			<param>${drupal.theme.name}</param>
		</drush>

		<drush command="vset" assume="yes">
			<param>theme_default</param>
			<param>${drupal.theme.name}</param>
		</drush>

		<!-- Fix permissions for the default site directory and settings. The owner must be able to delete the directories during subsequent builds. -->
		<chmod file="${project.drupal.dir}/sites/default/" mode="0755" failonerror="true"/>
		<chmod file="${project.drupal.dir}/sites/default/files" mode="0755" failonerror="true"/>
		<chmod file="${project.drupal.dir}/sites/default/default.settings.php" mode="0755" failonerror="true"/>

		<!-- Enable modules -->
		<drush command="pm-enable" assume="yes">
			<param>axrreleases</param>
			<param>axrsearch</param>
			<param>ajaxutil</param>
			<param>continueto</param>
			<param>sessid</param>
			<param>assetmagic</param>
		</drush>

		<!-- Enable JavaScript aggregation -->
		<drush command="vset" assume="yes">
			<param>preprocess_js</param>
			<param>1</param>
		</drush>

		<!-- Enable CSS aggregation -->
		<drush command="vset" assume="yes">
			<param>preprocess_css</param>
			<param>1</param>
		</drush>

		<phingcall target="mw-conf" />

		<!-- Set property to prevent target from being executed multiple times -->
		<property name="project.installed" value="true"/>
	</target>

	<target name="mw-conf" depends="init">
		<copy
			file="${mw.path}/LocalSettings.2.sample.php"
			tofile="${mw.path}/LocalSettings.2.php"
			overwrite="true">

			<filterchain>
				<replaceregexp>
					<regexp
						pattern="(\$wgDBtype\s*=\s*')\.*(';)"
						replace="\1${mw.db.type}\2" />
					<regexp
						pattern="(\$wgDBserver\s*=\s*')\.*(';)"
						replace="\1${mw.db.host}\2" />
					<regexp
						pattern="(\$wgDBname\s*=\s*')\.*(';)"
						replace="\1${mw.db.database}\2" />
					<regexp
						pattern="(\$wgDBuser\s*=\s*')\.*(';)"
						replace="\1${mw.db.username}\2" />
					<regexp
						pattern="(\$wgDBpassword\s*=\s*')\.*(';)"
						replace="\1${mw.db.password}\2" />
					<regexp
						pattern="(\$wgDBprefix\s*=\s*')\.*(';)"
						replace="\1wiki_\2" />

					<regexp
						pattern="(\$iwParameters\['DrupalDBServer'\]\s*=\s*')\.*(';)"
						replace="\1${drupal.db.host}\2"/>
					<regexp
						pattern="(\$iwParameters\['DrupalDBName'\]\s*=\s*')\.*(';)"
						replace="\1${drupal.db.destinationdb}\2"/>
					<regexp
						pattern="(\$iwParameters\['DrupalDBUser'\]\s*=\s*')\.*(';)"
						replace="\1${drupal.db.username}\2"/>
					<regexp
						pattern="(\$iwParameters\['DrupalDBPassword'\]\s*=\s*')\.*(';)"
						replace="\1${drupal.db.password}\2"/>
					<regexp
						pattern="(\$iwParameters\['DrupalDBPrefix'\]\s*=\s*')\.*(';)"
						replace="\1${drupal.db.tablesprefix}\2"/>
				</replaceregexp>
			</filterchain>
		</copy>
	</target>

	<target name="setup-phing-drush" depends="setup-dirs" >
		<property name="repo.dir" value="${project.toolsdir}/phing-drush"/>
		<property name="repo.url" value="${phing.drush.repository.url}" />
		<property name="repo.revision" value="${phing.drush.repository.revision}" />

		<!-- Register as custom Phing task -->
		<taskdef name="drush" classname="DrushTask" classpath="${project.toolsdir}/phing-drush" />

		<!-- Run drush from the project Drupal directory -->
		<property name="drush.root" value="${project.drupal.dir}"/>
	</target>
</project>

