<div class="clearfix">
	{{sidebar|raw}}

	<h2>Value Glossary</h2>

	<dl>
		<dt>ℕ</dt>
			<dd>natural numbers (e.g. 0, 1, 2, 3, etc.)</dd>
		<dt>ℤ</dt>
			<dd>integers (equivalent to ℕ and -ℕ)</dd>
		<dt>&lt;numbers&gt;</dt>
			<dd>represents rational numbers (e.g. 1, 0.1, -1)</dd>
		<dt>&lt;object&gt;</dt>
			<dd>represents the object type(s) accepted in the current context
			and the <a href="http://spec.axrproject.org/specification.html#n1.7.2">
			object names</a> of this/these type(s).</dd>
	</dl>

	<h2>Reminder</h2>

	<p>All properties accept the special keywords (<code>default</code>, <code>inherit</code><sup>*</sup> and
	<code>current</code>).</p>

	<small><sup>*</sup> except properties set on the root element.</small>
</div>
