<div id="hssdoc_home" class="clearfix">
	{{sidebar|raw}}

	<div class="wrapper parsedContent">
		<h3>Value Glossary</h3>

		<dl>
			<dt>ℕ</dt>
				<dd>natural numbers (e.g. 0, 1, 2, 3, etc.)</dd>
			<dt>ℤ</dt>
				<dd>integers (equivalent to ℕ and -ℕ)</dd>
			<dt>&lt;number&gt;</dt>
				<dd>represents rational numbers (e.g. 1, 0.1, -1)</dd>
			<dt>&lt;object&gt;</dt>
				<dd>represents the object type(s) accepted in the current context
				and the <a href="http://spec.axrproject.org/specification.html#n1.7.2">
				object names</a> of this/these type(s).</dd>
		</dl>

		<h3>Reminders</h3>

		<ul>
		<li>The 3 special keywords <code>default</code>, <code>inherit</code><sup>*</sup> and
		<code>current</code> are accepted on all properties.</li>
			
		<li>You can prevent properties from being reset using the cascade property, like so:
		<code>property.cascade: no;</code></li>
		</ul>

		<small><sup>*</sup> except properties set on the root element.</small>
	</div>
</div>
