{{g/breadcrumb/html|raw}}
{{g/tabs/html|raw}}

<div id="hssdoc_obj" class="clearfix">
	{{sidebar|raw}}

	<div class="wrapper">
		<h1>{{object.name}}</h1>

		<div class="parsedContent">
			{{object.description|raw}}
		</div>

		{{#properties}}
			<section class="prop_item" data-hash="{{name}">
				<header>
					<h2><a href="{{permalink}}" name="{{name}}">{{name}}</a></h2>

					{{#readonly}}
						<span class="ro">Read-only</span>
					{{/readonly}}
				</header>

				<div class="parsedContent">
					{{description|raw}}
				</div>

				{{_values_table|raw}}
			</section>
		{{/properties}}
	</div>
</div>

{{^_ajax}}
	<script>
		Rsrc.use(['js/app.js', 'js/hss/object.js'], function ()
		{
			App.Event.trigger('App.HSS.Object.load');
		});
	</script>
{{/_ajax}}
