<div id="hssdoc_obj" class="clearfix">
	{{sidebar|raw}}

	<div class="wrapper">
		<h1>{{object.name}}</h1>

		{% if object.shorthand_stack %}
			<table class="shorthand_stack">
				<caption>Shorthand stack order:</caption>
				<tr>
					<th>Position</th>
					{% for item in object.shorthand_stack %}
						<th>{{loop.index|ordinal}}</th>
					{% endfor %}
				</tr>
				<tr>
					<th>Property</th>
					{% for property_name in object.shorthand_stack %}
						<td><a href="/{{object.name}}#{{property_name}}">{{property_name}}</a></td>
					{% endfor %}
				</tr>
			</table>
		{% endif %}

		<div class="parsedContent">
			{{object.description|raw}}
		</div>

		{% for property in properties %}
			<section class="prop_item" data-hash="{{property.name}}">
				<header>
					<h2><a href="{{property.permalink}}" name="{{property.name}}">{{property.name}}</a></h2>

					{% if property.readonly %}
						<span class="ro">Read-only</span>
					{% endif %}

					{% if property.permanent %}
						<span class="permanent" title="This property remains referenceable in any case">Permanent</span>
					{% endif %}
				</header>

				{% if property.text_scope %}
					<table class="text_scope">
						<tr>
							<th>Scope</th>
							{% for name in ['line', 'word', 'character'] %}
								<td>
									{% if name in property.text_scope %}
										<span class="symbol">✓</span>
									{% else %}
										<span class="symbol">×</span>
									{% endif %}

									{{name}}
								</td>
							{% endfor %}
						</tr>
					</table>
				{% endif %}

				<div class="parsedContent">
					{{property.description|raw}}
				</div>

				{{values_table(property)|raw}}
			</section>
		{% endfor %}
	</div>
</div>
