{{g/breadcrumb/html|raw}}
{{g/tabs/html|raw}}

<div id="hssdoc_obj" class="clearfix">
	{{sidebar|raw}}

	<div class="wrapper">
		<h1>{{object.name}}</h1>

		{{#object._shorthand_stack|bool}}
			<table class="shorthand_stack">
				<caption>Shorthand stack order:</caption>
				<tr>
					<th>Position</th>
					{{#object._shorthand_stack}}
						<th>{{number}}</th>
					{{/object._shorthand_stack}}
				</tr>
				<tr>
					<th>Property</th>
					{{#object._shorthand_stack}}
						<td><a href="{{property.permalink}}">{{property.name}}</a></td>
					{{/object._shorthand_stack}}
				</tr>
			</table>
		{{/object._shorthand_stack}}

		<div class="parsedContent">
			{{object.description|raw}}
		</div>

		{{#properties}}
			<section class="prop_item" data-hash="{{name}}">
				<header>
					<h2><a href="{{permalink}}" name="{{name}}">{{name}}</a></h2>

					{{#readonly}}
						<span class="ro">Read-only</span>
					{{/readonly}}

					{{#permanent}}
						<span class="permanent" title="This property remains referenceable in any case">Permanent</span>
					{{/permanent}}
				</header>

				{{#_text_scope|bool}}
					<table class="text_scope">
						<tr>
							<th>Scope</th>
							{{#_text_scope}}
								<td>
									{{#is_valid}}<span class="symbol">✓</span>{{/is_valid}}
									{{^is_valid}}<span class="symbol">×</span>{{/is_valid}}
									{{name}}
								</td>
							{{/_text_scope}}
						</tr>
					</table>
				{{/_text_scope}}

				<div class="parsedContent">
					{{description|raw}}
				</div>

				{{_values_table|raw}}
			</section>
		{{/properties}}
	</div>
</div>
