<ul class="obj_list">
	{% for object in objects %}
		<li data-object="{{object.name}}">
			<span class="object">
				<a href="#" class="open">
					<span class="collapsed">[+]</span>
					<span class="expanded">[-]</span>
				</a>
				<a href="{{object.permalink}}" class="obj">{{object.name}}</a>
			</span>

			<div class="children">
				{{object._tree|raw}}

				<ul class="prop_list">
					{% for property in object.properties %}
						<li>
							<a href="{{property.permalink}}">{{property.name}}</a>

							{% if property.implemented == IMPL_NONE %}
								<span class="implNone" title="This property has not been implemented yet">(not implemented)</span>
							{% endif %}

							{% if property.implemented == IMPL_SEMI %}
								<span class="implSemi" title="This property is not fully implemented yet">(half implemented)</span>
							{% endif %}
							
							{% if property.readonly %}
								<span class="ro" title="This is a read-only property">(read-only)</span>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
		</li>
	{% endfor %}
</ul>
