<table class="values_table">
	<thead>
		<th>Value
			{% if property.many_values %}
				<sup title="This property accepts multiple values at once.">unlimited</sup>
			{% endif %}
		</th>
		<th>Since version</th>
	</thead>
	<tbody>
		{% for item in values %}
			<tr>
				<td data-hash="{{item.property.name}}[{{item.value}}]">
					{% if item._ref_url %}
						<a href="{{item._ref_url}}">{{item.value}}</a>
					{% else %}
						{{item.value}}
					{% endif %}

					{% if is_default %}
						<span class="flag default">default</span>
					{% endif %}
				</td>
				{% if item._count %}
					<td rowspan="{{item._count}}" class="version">
						{% if item._is_future %}
							<span class="future">(coming in {{item.since_version}})</span>
						{% elseif item.since_version == null %}
							<span class="future">(not implemented)</span>
						{% else %}
							{{item.since_version}}
						{% endif %}
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
