<table class="values_table">
	<thead>
		<th>Value
			{{#property.many_values}}
				<sup title="This property accepts multiple values at once.">unlimited</sup>
			{{/property.many_values}}
		</th>
		<th>Since version</th>
	</thead>
	<tbody>
		{{#values}}
			<tr>
				<td data-hash="{{property.name}}[{{value}}]">
					{{#_ref_url|bool}}
						<a href="{{_ref_url}}">{{value}}</a>
					{{/_ref_url}}

					{{^_ref_url}}
						{{value}}
					{{/_ref_url}}

					{{#is_default}}
						<span class="flag default">default</span>
					{{/is_default}}
				</td>
				{{#_count}}
					<td rowspan="{{_count}}" class="version">
						{{^_is_future}}{{since_version}}{{/_is_future}}
						{{#_is_future}}
							<span class="future">(coming in {{since_version}})</span>
						{{/_is_future}}
						{{^since_version}}
							<span class="future">(not implemented)</span>
						{{/since_version}}
					</td>
				{{/_count}}
			</tr>
		{{/values}}
	</tbody>
</table>
