#main > .above_fold
{
	border-bottom: 1px solid #C2C2C2;
}

#main > .above_fold > .nested_0
{
	width: 855px;
	padding: 50px 0 55px 105px;
	margin: 0px auto;
}

#main > .above_fold > .nested_0 > .intro
{
	width: 356px;
	float: left;
}

#main > .above_fold > .nested_0 > .intro > .button_std
{
	width: 155px;
	float: left;
	margin-top: 25px;
}

#main > .above_fold > .nested_0 > .intro > .manifesto
{
	margin-left: 27px;
	margin-right: 0;
}

#main > .above_fold > .nested_0 > .intro > .manifesto > .content > .block_0
{
	background-position: -88px -1px;
	margin-top: 9px;
	margin-left: 4px;
}

#main > .above_fold > .nested_0 > .slides
{
	width: 421px;
	height: 297px;
	background-image: url(../images/sprite.jpg);
	background-position: -1px -280px;
	margin-top: -8px;
	margin-left: -20px;
	position: relative;
	left: 40px;
	padding: 21px 0 0 85px;
	float: left;
}

#main > .the_cool_stuff
{
	border-top: 1px solid #F2F2F2;
}

#main > .the_cool_stuff > .nested_0
{
	width: 855px;
	padding: 50px 0 55px 105px;
	margin: 0px auto;
	overflow: hidden;
}

#main > .the_cool_stuff > .nested_0 > .downloads
{
	width: 460px;
	float: left;
	padding-top: 20px;
}

#main > .the_cool_stuff > .nested_0 > .downloads > .download.buttons
{
	width: 301px;
}

#main > .the_cool_stuff > .nested_0 > .downloads > .download.buttons > a.latest
{
	display: block;
	height: 34px;
	color: white;
	text-decoration: none;
	text-shadow: #BC910E 0 1px 0;
	font-weight: bold;
	padding: 10px 10px 0 80px;
	background-image: url(../images/sprite.jpg);
	background-position: -1px -599px;
}

#main > .the_cool_stuff > .nested_0 > .downloads > .download.buttons > a.latest:hover
{
	color: #BF8300;
	text-shadow: #F7DE77 0 1px 0;
}

#main > .the_cool_stuff > .nested_0 > .downloads > .download.buttons > a.latest > .label
{
	display: block;
	font-size: 1.6em;
	float: left;
}

#main > .the_cool_stuff > .nested_0 > .downloads > .download.buttons > a.latest > .version
{
	display: block;
	font-size: 1em;
	float: left;
	line-height: 2.5em;
	margin-left: 15px;
}

#main > .the_cool_stuff > .nested_0 > .downloads > .download.buttons > a.older
{
	display: block;
	height: 43px;
	clear: both;
	padding: 6px 0 0;
	text-align: center;
	color: #BF8300;
	text-shadow: #F7DE77 0 1px 0;
	font-size: 0.9em;
	background-image: url(../images/sprite.jpg);
	background-position: -1px -643px;
	text-decoration: none;
	font-weight: bold;
	/* remove this */
	text-indent: -999px;
	overflow: hidden;
}

#main > .the_cool_stuff > .nested_0 > .downloads > .download.info
{
	width: 300px;
	clear: both;
	float: left;
	padding-top: 20px;
}


#main > .the_cool_stuff > .nested_0 > .advantages
{
	float: left;
}

#main > .the_cool_stuff > .nested_0 > .advantages > ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#main > .the_cool_stuff > .nested_0 > .advantages > ul > li
{
	margin: 20px 0;
	clear: both;
	overflow: hidden;
	font-size: 1.2em;
}

#main > .the_cool_stuff > .nested_0 > .advantages > ul > li > span
{
	display: block;
	float: left;
}

#main > .the_cool_stuff > .nested_0 > .advantages > ul > li > span.block_0
{
	width: 18px;
	height: 18px;
	background-image: url(../images/sprite32.png);
	background-position: -69px -20px;
	margin: 0 10px 0 0;
}

#main > .the_cool_stuff > .nested_0 > .advantages > .examples
{
	width: 170px;
	margin-top: 20px;
	margin-left: 38px;
}

#main > .the_cool_stuff > .nested_0 > .advantages > .examples > .content
{
	text-indent: 20px;
}

#main > .the_cool_stuff > .nested_0 > .advantages > .examples > .content > .block_0
{
	float: right;
	background-position: -89px -21px;
	margin-top: 10px;
}



