/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection{ background: #EFC442; color:#fff; text-shadow: none; }
::selection { background:#EFC442; color:#fff; text-shadow: none; } 


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */


img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Authors: Andrei Zisu, Miro Keller, Marc G, Ragnis Armus, Valerij Primachenko
   ========================================================================== */
html, body 
{ 
	min-width: 960px; 
}
body { 
	background: url('../images/body_bg.png') repeat-x #e5e5e5; 
	color: #666666; 
	font-family: 'Century Gothic',Futura,Arial,sans-serif; 
	line-height: 1.38; 
	font-size: 0.75em; 
}
#container 
{ 
	overflow: hidden; 
	position: relative; 
}
h2 
{ 
	font-size: 1.5em; 
}

header 
{ 
	position: relative; 
	width: 960px; 
	height: 200px; 
	margin: 0px auto;  
}
header > .logo 
{ 
	display: block; 
	height: 250px; 
	width: 310px; 
	background: url('../images/sprite.jpg') no-repeat; 
	text-indent: -10000px; 
	float: left; 
}
header > nav 
{ 
	width: 647px; 
	height: 49px; 
	float: left; 
	margin: 97px 0 0 3px; 
	background:  url('../images/sprite.jpg'); 
	background-position: -312px 0; 
}
header > nav > ul 
{ 
	height: 100%; 
}
header > nav > ul > li 
{ 
	float: left; 
	height: 100%; 
	position: relative; 
}
header > nav > ul > li > a 
{ 
	display: block; 
	width: 100%; 
	height: 100%; 
	text-indent: -999px; 
	overflow: hidden; 
}
header > nav > ul > li > a:hover,
header > nav > ul > li.hover > a 
{
	background: url('../images/sprite.jpg');
	padding-right: 1px;
}
header > nav > ul > li.about 
{ 
	width: 97px; 
}
header > nav > ul > li.specification 
{ 
	width: 129px; 
}
header > nav > ul > li.resources 
{ 
	width: 136px; 
}
header > nav > ul > li.community 
{ 
	width: 131px; 
}
header > nav > ul > li.wiki 
{ 
	width: 88px; 
}
header > nav > ul > li.blog 
{ 
	width: 66px; 
}
header > nav > ul > li.about > a:hover, header > nav > ul > li.about.hover > a 
{ 
background-position: -312px -49px; 
}
header > nav > ul > li.specification > a:hover, header > nav > ul > li.specification.hover > a 
{ 
background-position: -410px -49px; 
}
header > nav > ul > li.resources > a:hover,
header > nav > ul > li.resources.hover > a 
{ 
background-position: -540px -49px; 
}
header > nav > ul > li.community > a:hover,
header > nav > ul > li.community.hover > a 
{ 
background-position: -677px -49px; 
}
header > nav > ul > li.wiki > a:hover,
header > nav > ul > li.wiki.hover > a 
{ 
background-position: -809px -49px; 
}
header > nav > ul > li.blog > a:hover,
header > nav > ul > li.blog.hover > a 
{ 
background-position: -898px -49px; 
}

header > nav > ul > li > .sections
{
	width: 191px;
	position: absolute;
	top: 32px;
	margin: 83px 0 69px;
	z-index: 999;
	background-image: url(../images/dropdown_bg.png);
}

header > nav > ul > li.about > .sections 
{ 
	left: -45px; 
}
header > nav > ul > li.resources > .sections 
{ 
	left: -28px; 
}
header > nav > ul > li.community > .sections 
{ 
	left: -32px; 
}
header > nav > ul > li.wiki > .sections 
{ 
	left: -48px; 
}
header > nav > ul > li > .sections > .header
{
	width: 100%;
	height: 83px;
	background-image: url(../images/sprite32.png);
	background-position: -1px -38px;
	position: absolute;
	top: -83px;
}

header > nav > ul > li > .sections > .content
{
	margin-top: -120px;
	position: relative;
	z-index: 1;
	top: 55px;
}

header > nav > ul > li > .sections > .content > li
{
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 0 8px;
	border-bottom: 1px solid #555555;
	border-top: 1px solid #7F7F7F;
}

header > nav > ul > li > .sections > .content > li.first
{
	border-top: none;
}

header > nav > ul > li > .sections > .content > li.last
{
	border-bottom: none;
}

header > nav > ul > li > .sections > .content > li > a
{
	display: block;
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-shadow: #333333 0 1px 0;
}

header > nav > ul > li > .sections > .content > li > a:hover
{
	color: #313131;
	text-shadow: #959595 0 1px 0;
}

header > nav > ul > li > .sections > .footer
{
	width: 100%;
	height: 69px;
	background-image: url(../images/sprite32.png);
	background-position: -1px -121px;
	position: absolute;
	bottom: -69px;
}

header .secondary 
{ 
	position: absolute; 
	top: 40px; 
	right: 0; 
}
header .secondary a.login 
{
	background: url(../images/);
	display: inline-block;
	font-size: 0;
	margin: 5px 0 0 0;
	vertical-align: top;
	border-bottom: #efefef 1px solid;
	position: relative;
	line-height: 1.6;
}
header .secondary > a.login > .extra_0 
{
	background-image: url(../images/sprite.jpg);
	background-position: -945px -354px;
	display: block;
	height: 18px;
	width: 19px;
	position: absolute;
	left: -26px;
	top: 2px;
}

header .secondary > a.login:hover > .extra_0 
{
	background-position: -964px -354px;
}

header .secondary > a.login > .extra_1 
{
	color: #999;
	display: inline-block;
	font-size: 12px;
	margin: 0;
	padding: 1px 0 0 0;
	font-weight: bold;
	height: 18px;
	text-shadow: -1px 1px #efefef;
	vertical-align: top;
	border-bottom: 1px solid;
}
header .secondary > .search 
{
	background-image: url(../images/sprite.jpg);
	background-position: -605px -600px;
	display: inline-block;
	margin: 0 0 0 20px;
	height: 30px;
	width: 156px;
}
header .secondary > .search > input[type="text"] 
{
	background: transparent;
	border: 0;
	color: #a3a3a3;
	
	outline: none;
	padding: 0 0 0 10px;
	height: 30px;
	text-align: center;
	width: 118px;
}

header .secondary > .search > input[type="submit"] 
{
	background: transparent;
	border: 0;
	outline: none;
	height: 30px;
	text-indent: -9999px;
	width: 24px;
}

#main > .above_fold > .nested_0 > .intro > p {
	text-align: justify;
}

#container > .fork_github 
{ 
	position: absolute; 
	top: 0; 
	right: 0;  
}
#container > .fork_github a 
{ 
	display: block; 
	height: 113px; 
	width: 140px; 
	background: url('../images/fork_github.png') no-repeat; 
	text-indent: -10000px; 
}

#container > .share 
{ 
	position: absolute; 
	top: 315px; 
	right: 0; 
	z-index: 999;
}
#container > .share > .label 
{ 
	width: 60px; 
	height: 60px; 
	margin: 0; 
	position: absolute; 
	bottom: -70px; 
	right: 3px; 
	background-image: url(../images/sprite.jpg);
	background-position: -924px -470px; 
	text-indent: -999px; 
	overflow: hidden;
}
#container > .share > ul 
{ 
	display: block; 
	width: 48px; 
	height: 159px; 
	margin: 0; 
	background-image: url(../images/sprite.jpg); 
	background-position: -874px -469px; 
	padding: 0; 
	list-style: none;
}
#container > .share > ul > li 
{ 
	padding: 19px 0 1px 15px; 
}
#container > .share > ul > li > a 
{ 
	display: block; 
	width: 28px; 
	height: 27px; 
	text-indent: -999px; 
	overflow: hidden; 
	background-image: url(../images/sprite32.png); 
}
#container > .share > ul > li.twitter > a 
{ 
	background-position: -108px -1px;
}
#container > .share > ul > li.twitter > a:hover 
{ 
	background-position: -137px -1px; 
}
#container > .share > ul > li.facebook > a 
{ 
	background-position: -166px -1px; 
}
#container > .share > ul > li.facebook > a:hover 
{ 
	background-position: -195px -1px; 
}
#container > .share > ul > li.delicious > a 
{ 
	background-position: -224px -1px; 
}
#container > .share > ul > li.delicious > a:hover 
{ 
	background-position: -253px -1px; 
}

.button_std
{
	display: block;
	margin: 0 8px;
	height: 37px;
	position: relative;
	color: white;
	text-decoration: none;
	text-shadow: #BC910E 0 1px 0;
	font-weight: bold;
}

.button_std > .header,
.button_std > .footer
{
	display: block;
	width: 8px;
	height: 37px;
	background-image: url(../images/sprite32.png);
	background-position: -1px -1px;
	position: absolute;
	left: -8px;
	top: 0;
}

.button_std > .content
{
	display: block;
	height: 37px;
	background-image: url(../images/sprite_repeat_h.png);
	background-position: 0 -1px;
	line-height: 35px;
}

.button_std > .content > .block_0
{
	display: block;
	width: 18px;
	height: 18px;
	float: left;
	margin: 8px 8px 0 2px;
	background-image: url(../images/sprite32.png);
	background-position: -69px -1px;
}

.button_std > .footer
{
	left: auto;
	right: -8px;
	background-position: -9px -1px;
}

.button_std:hover > .header 
{ 
	background-position: -18px -1px; 
}
.button_std:hover > .content 
{ 
	background-position: 0 -39px; 
}
.button_std:hover > .footer 
{ 
	background-position: -26px -1px; 
}
.button_std.gray 
{ 
	color: #7A7A7A; 
	text-shadow: #E3E3E3 0 1px 0; 
}
.button_std.gray > .header 
{ 
	background-position: -35px -1px; 
}
.button_std.gray > .content 
{ 
	background-position: 0 -77px; 
}
.button_std.gray > .footer 
{ 
	background-position: -43px -1px; 
}
.button_std.gray:hover > .header 
{ 
	background-position: -52px -1px; 
}
.button_std.gray:hover > .content 
{ 
	background-position: 0 -115px; 
}
.button_std.gray:hover > .footer 
{ 
	background-position: -60px -1px; 
}


footer 
{ 
	background-image: url("../images/footer_repeat.jpg"); 
	background-position: center 115px; 
	background-repeat: repeat-x; 
	position: relative; 
	width: 100%; 
}
footer > a 
{ 
	background-image: url("../images/sprite.jpg"); 
	background-position: -508px -353px; 
	display: block; 
	height: 116px; 
	margin: 0 auto; 
	overflow: hidden; 
	position: relative; 
	text-indent: -9999px; 
	width: 365px; 
	z-index: 1; 
}
footer > a:hover 
{ 
	background-position: -508px -469px; 
}
footer > ul 
{ 
	height: 95px; 
	list-style: none outside none; 
	margin: -95px auto 0; 
	position: relative; 
	width: 780px; 
}
footer > ul.technologies_used > li 
{ 
	float: left; 
	margin-right: 8px; 
	position: absolute; 
	z-index: 1; 
}
footer > ul.technologies_used > li > a 
{ 
	background-image: url("../images/sprite.jpg"); 
	display: block; 
	overflow: hidden; 
	text-indent: -9999px; 
}
footer > ul.technologies_used > li.html5 
{ 
	left: 560px; 
	top: 20px; 
}
footer > ul.technologies_used > li.html5 > a 
{ 
	background-position: -508px -228px; 
	height: 53px; 
	width: 116px; 
}
footer > ul.technologies_used > li.html5 > a:hover 
{ 
	background-position: -508px -281px; 
}
footer > ul.technologies_used > li.humanstxt 
{ 
	left: 175px; 
	top: 30px; 
}
footer > ul.technologies_used > li.humanstxt > a 
{ 
	background-position: -624px -316px; 
	height: 37px; 
	width: 137px; 
}
footer > ul.technologies_used > li.humanstxt > a:hover 
{ 
	background-position: -761px -316px; 
}
footer > ul.technologies_used > li.github 
{ 
	left: 0px; 
	top: 30px; 
}
footer > ul.technologies_used > li.github > a 
{ 
	background-position: -873px -383px; 
	height: 43px; 
	width: 119px;
}
footer > ul.technologies_used > li.github > a:hover 
{ 
	background-position: -873px -426px; 
}
footer > ul.technologies_used > li.google_groups 
{ 
	left: 725px; 
	top: 35px; 
}
footer > ul.technologies_used > li.google_groups > a 
{ 
	background-position: -311px -228px; 
	height: 48px; 
	width: 90px; 
}
footer > ul.technologies_used > li.google_groups > a:hover 
{ 
	background-position: -401px -228px; 
}
footer > .activity 
{ 
	height: 201px; 
	margin: 20px auto; 
	position: relative; 
	width: 810px; 
}
footer > .activity > form > a 
{ 
	background-image: url("../images/sprite.jpg");
	background-position: -831px -228px; 
	display: block; 
	height: 43px; 
	overflow: hidden; 
	position: absolute; 
	text-indent: -9999px; 
	top: 45px; 
	width: 105px; 
}
footer > .activity > form > a:hover 
{ 
	background-position: -831px -271px; 
}
footer > .activity > .follow_us 
{ 
	background-image: url("../images/sprite.jpg"); 
	background-position: -624px -228px; 
	height: 77px; 
	left: -25px; 
	list-style: none outside none; 
	margin: 0; 
	padding: 11px 0 0 29px; 
	position: absolute; 
	top: 100px; 
	width: 178px; 
	z-index: 1; 
}
footer > .activity > .follow_us > li 
{ 
	display: block; 
	float: left; 
	height: 26px; 
	margin-right: 13px; 
	width: 24px; 
}
footer > .activity > .follow_us > li > a 
{ 
	display: block; 
	height: 100%; 
	overflow: hidden; 
	text-indent: -999px; 
	width: 100%; 
}
footer > .activity > .follow_us > li > a:hover 
{ 
	background-image: url("../images/sprite.jpg"); 
}
footer > .activity > .follow_us > li.twitter > a:hover 
{ 
	background-position: -873px -353px; 
}
footer > .activity > .follow_us > li.facebook > a:hover 
{ 
	background-position: -897px -353px; 
}
footer > .activity > .follow_us > li.vimeo > a:hover 
{ 
	background-position: -921px -353px; 
}
footer > .activity > .last_tweet 
{ 
	background-image: url("../images/sprite.jpg"); 
	background-position: -311px -99px; 
	height: 129px; 
	left: 180px; 
	position: absolute; 
	top: 25px; 
	width: 346px; 
}
footer > .activity > .last_tweet > p 
{ 
	margin: 14px 0 0 90px; 
	text-shadow: 0 1px 0 #EBEBEB; 
	width: 233px; 
}
footer > .activity > .last_tweet > p.follow_us 
{ 
	color: #939393; 
	bottom: 16px; 
	font-weight: bold; 
	left: 0; 
	position: absolute; 
	text-align: center; 
}
footer > .activity > .last_tweet > p > a 
{ 
	color: #D09610; 
	text-decoration: none; 
	font-weight: bold; 
}
footer > .activity > .last_tweet > p > a:hover
{
	text-decoration: underline;
}
footer > .activity > .participate 
{ 
	background-image: url("../images/sprite.jpg"); 
	background-position: -680px -99px; 
	height: 126px; left: 550px; 
	position: absolute; 
	top: 25px; 
	width: 267px; 
	font-weight: bold; 
}
footer > .activity > .participate > h2 { 
	color: white; 
	font-weight: bold; 
	margin: 10px 0 0 20px; 
	text-shadow: 0 1px 0 #666666; 
	width: 72px; 
}
footer > .activity > .participate > p { 
	color: white; 
	font-size: 0.89em; 
	margin: 16px 0 0 20px; 
	text-shadow: 0 1px 0 #666666;
	width: 230px; 
}
footer > .activity > .participate > p > a 
{ 
	color: #FFD519; 
	text-decoration: none; 
	text-shadow: 0 1px 0 #666666; 
}
footer > .activity > .participate > p > a:hover
{
	text-decoration: underline;
}
footer > .activity > .copy 
{ 
	bottom: 0px; 
	position: absolute; 
	text-align: center; 
	text-shadow: 0 1px 0 white; 
	width: 100%; 
}
footer > .activity > .copy > p > a 
{ 
	color: #666666; 
	font-weight: bold; 
	text-decoration: none; 
}
footer > .activity > .copy > p > a:hover
{ 
	text-decoration: underline;
}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
