#breadcrumbs
{
	width: 840px;
	margin: 0 auto;
}

#main > .under_construction
{
	width: 570px;
	margin: 65px auto;
	clear: both;
	overflow: hidden;
	position: relative;
	left: 40px;
}

#main > .under_construction > .block_0
{
	width: 107px;
	height: 108px;
	background-image: url(../images/under_construction.jpg);
	float: left;
	margin: 20px 45px 50px 0;
}

#main > .under_construction > h1,
#main > .under_construction > p
{
	width: 400px;
	float: left;
}

#main > .under_construction > h1
{
	font-size: 1.5em;
}

#main > .under_construction > p
{
	font-size: 1.2em;
}

#main > .under_construction > a
{
	width: 200px;
	text-indent: 26px;
	float: left;
	margin-top: 10px;
}