#not_found
{
	width: 500px;
	margin: 60px auto 30px auto;
	padding: 160px 0 0 270px;
	background-image: url(../images/404bg.png);
	background-repeat: no-repeat;
	clear: both;
	overflow: hidden;
	position: relative;
	left: 40px;
}

#not_found > h1,
#not_found > p
{
	width: 500px;
	float: left;
}

#not_found > h1
{
	font-size: 1.5em;
}

#not_found > p
{
	font-size: 1.2em;
}

#not_found > a
{
	width: 200px;
	text-indent: 26px;
	float: left;
	margin-top: 10px;
}

