.uiCodeBox
{
	background: #fff;
	border: 1px solid #bbb;
	border-radius: 3px;
	font-size: 13px;
	margin: 10px 0 10px 0;
}

.uiCodeBox > .line
{
	position: relative;
}

.uiCodeBox > .line .number
{
	background: #e5e5e5;
	border-right: 1px solid #bbb;
	height: 100%;
	left: 0;
	padding: 0 5px;
	position: absolute;
	text-align: right;
	top: 0;
	width: 25px;
}

.uiCodeBox > .line code
{
	border: 0;
	color: #555;
	display: block;
	font-size: 13px;
	margin: 0 0 0 35px;
	padding: 0 10px;
	white-space: pre-wrap;
}

.uiCodeBox > .line code .token.comment,
.uiCodeBox > .line code .token.prolog,
.uiCodeBox > .line code .token.doctype,
.uiCodeBox > .line code .token.cdata
{
	color: slategray;
}

.uiCodeBox > .line code .token.punctuation
{
	color: #999;
}

.uiCodeBox > .line code .namespace
{
	opacity: .7;
}

.uiCodeBox > .line code .token.property,
.uiCodeBox > .line code .token.tag,
.uiCodeBox > .line code .token.boolean,
.uiCodeBox > .line code .token.number
{
	color: #905;
}

.uiCodeBox > .line code .token.selector,
.uiCodeBox > .line code .token.attr-name,
.uiCodeBox > .line code .token.string
{
	color: #690;
}

.uiCodeBox > .line code .token.operator,
.uiCodeBox > .line code .token.entity,
.uiCodeBox > .line code .token.url,
.uiCodeBox > .line code .language-css .token.string,
.uiCodeBox > .line code .style .token.string
{
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

.uiCodeBox > .line code .token.atrule,
.uiCodeBox > .line code .token.attr-value,
.uiCodeBox > .line code .token.keyword
{
	color: #07a;
}

.uiCodeBox > .line code .token.regex,
.uiCodeBox > .line code .token.important
{
	color: #e90;
}

.uiCodeBox > .line code .token.important
{
	font-weight: bold;
}

.uiCodeBox > .line code .token.entity
{
	cursor: help;
}
