.uiCodeBox
{
	background: #fff;
	border: 1px solid #bbb;
	border-radius: 3px;
	clear: both;
	font-size: 13px;
	margin: 10px 0 10px 0;
	position: relative;
}

.uiCodeBox > .linenos
{
	background: #e5e5e5;
	border-right: 1px solid #bbb;
	left: 0;
	padding: 5px 0;
	position: absolute;
	width: 25px;
}

.uiCodeBox > .linenos > div
{
	padding: 0 5px;
	height: 17px;
	text-align: right;
}

.uiCodeBox > pre
{
	margin: 0 0 0 35px;
	overflow-x: auto;
	padding: 5px 0;
}

.uiCodeBox > pre > .line
{
	border: 0;
	color: #555;
	font-size: 13px;
	height: 17px;
	padding: 0 10px;
}


.uiCodeBox pre .token.comment,
.uiCodeBox pre .token.prolog,
code
{
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 13px;
	padding: 1px 2px;
}

pre > code
{
	border: 0;
	background: none;
}

.uiCodeBox pre .token.doctype,
.uiCodeBox pre .token.cdata
{
	color: slategray;
}

.uiCodeBox pre .token.punctuation
{
	color: #999;
}

.uiCodeBox pre .namespace
{
	opacity: .7;
}

.uiCodeBox pre .token.property,
.uiCodeBox pre .token.tag,
.uiCodeBox pre .token.boolean,
.uiCodeBox pre .token.number
{
	color: #905;
}

.uiCodeBox pre .token.selector,
.uiCodeBox pre .token.attr-name,
.uiCodeBox pre .token.string
{
	color: #690;
}

.uiCodeBox pre .token.operator,
.uiCodeBox pre .token.entity,
.uiCodeBox pre .token.url,
.uiCodeBox pre .language-css .token.string,
.uiCodeBox pre .style .token.string
{
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

.uiCodeBox pre .token.atrule,
.uiCodeBox pre .token.attr-value,
.uiCodeBox pre .token.keyword
{
	color: #07a;
}

.uiCodeBox pre .token.regex,
.uiCodeBox pre .token.important
{
	color: #e90;
}

.uiCodeBox pre .token.important
{
	font-weight: bold;
}

.uiCodeBox pre .token.entity
{
	cursor: help;
}
