#downloads > h2
{
	border-bottom: 1px solid #d8d8d8;
	color: #666;
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0 5px 0;
	padding: 5px 0;
}

#downloads > .none
{
	padding: 10px 5px;
}

#downloads .rtable
{
	position: relative;
}

#downloads .rtable .col
{
	float: left;
	height: 16px;
	padding: 10px 20px;
	position: relative;
}

#downloads .rtable .colset_os
{
	float: right;
}

#downloads .rtable .colset_os .col
{
	border-left: 1px solid #e5e5e5;
	float: left;
	width: 80px;
}

#downloads .rtable > header
{
	height: 36px;
}

#downloads .rtable > .release > header
{
	background: #cfcfcf;
	height: 36px;
	margin: 0 0 1px 0;
}

#downloads .rtable > .release > article
{
	background: #d8d8d8;
	height: 36px;
	margin: 0 0 1px 20px;
}

#downloads .rtable > .release > article .colset_os > .col
{
	height: 36px;
	padding: 0;
	width: 120px;
}

#downloads .rtable > .release > article a.dlink
{
	color: #333;
	display: inline-block;
	font-size: 13px;
	height: 17px;
	padding: 10px 20px;
	text-decoration: none;
	width: 80px;
}

#downloads .rtable > .release > article a.dlink:hover
{
	text-decoration: underline;
}

#downloads .rtable > .release > article a.dlink .icon
{
	background: url(../images/sprite32.png) no-repeat 9999px 9999px;
	display: inline-block;
	height: 16px;
	margin: 0 10px 0 0;
	pointer-events: none;
	vertical-align: middle;
	width: 16px;
}

#downloads .rtable > .release > article a.dlink .icon.windows
{
	background-position: -213px -90px;
}

#downloads .rtable > .release > article a.dlink .icon.osx
{
	background-position: -231px -90px;
}

#downloads .rtable > .release > article a.dlink .icon.linux
{
	background-position: -247px -90px;
}

#downloads .rtable > .release > article .colset_os > .col .dropdown
{
	display: none;
}

#downloads .rtable > .release > article .colset_os > .col:hover .dropdown
{
	display: block;
}

#downloads .rtable > .release > article .colset_os > .col .dropdown
{
	background: #d0d0d0;
	display: none;
	position: absolute;
	top: 0;
	z-index: 3;
}

#downloads .rtable > .release > article .colset_os > .col .dropdown a
{
	color: #333;
	display: block;
	margin: 1px 0 0 0;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	width: 80px;
}

#downloads .rtable > .release > article .colset_os > .col .dropdown a span
{
	color: #555;
	float: right;
	text-decoration: inherit;
}

#downloads .rtable > .release > article .colset_os > .col .dropdown a:hover
{
	text-decoration: underline;
}
