#downloads > h2
{
	border-bottom: 1px solid #d8d8d8;
	color: #666;
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0 5px 0;
	padding: 5px 0;
}

#downloads > .none
{
	padding: 10px 5px;
}

#downloads .rtable
{
	position: relative;
}

#downloads .rtable > .release > header
{
	background: #cfcfcf;
	height: 16px;
	margin: 0 0 1px 0;
	padding: 10px;
}

#downloads .rtable > .release > header > a.version
{
	color: #666;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

#downloads .rtable > .release > header > a.version:before
{
	color: #666;
	content: "▼";
	margin: 0 5px 0 0;
	text-decoration: none;
}

#downloads .rtable > .release.collapsed > header > a.version:before
{
	content: "►";
}

#downloads .rtable > .release > header > a.version:hover
{
	color: #444;
}

#downloads .rtable > .release > header > a.version mark
{
	background: none;
	color: #444;
}

#downloads .rtable > .release > header > .core_version
{
	color: #888;
	margin: 0 0 0 5px;
}

#downloads .rtable > .release > header > a.changelog
{
	color: #888;
	float: right;
	font-size: 12px;
	text-decoration: none;
}

#downloads .rtable > .release > header > a.changelog:hover
{
	text-decoration: underline;
}

#downloads .rtable > .release > .groups
{
	background: #d8d8d8;
	margin: 0 0 1px 20px;
	padding: 15px 20px;
}

#downloads .rtable > .release.collapsed > .groups
{
	display: none;
}

#downloads .rtable > .release table.pkggroup
{
	margin: 0 0 20px 0;
	width: 100%;
}

#downloads .rtable > .release table.pkggroup:last-child
{
	margin-bottom: 0;
}

#downloads .rtable > .release table.pkggroup td.name
{
	width: 380px;
}

#downloads .rtable > .release table.pkggroup td.ext
{
	width: 120px;
}

#downloads .rtable > .release table.pkggroup td.arch
{
	width: 140px;
}

#downloads .rtable > .release table.pkggroup td.size
{
	width: 100px;
}

#downloads .rtable > .release table.pkggroup td.dl
{
	text-align: right;
}

#downloads .rtable > .release table.pkggroup thead tr
{
	border-bottom: 1px solid #ccc;
}

#downloads .rtable > .release table.pkggroup thead tr td
{
	color: #888;
	font-size: 12px;
	padding: 0 0 3px 0
}

#downloads .rtable > .release table.pkggroup thead tr td.name
{
	color: #666;
	font-size: 13px;
	font-weight: bold;
	padding: 0 0 3px 0
}

#downloads .rtable > .release table.pkggroup tbody tr td
{
	font-size: 13px;
	padding: 7px 0;
}

#downloads .rtable > .release table.pkggroup tbody tr td.dl
{
	min-width: 150px;
}

#downloads .rtable > .release table.pkggroup tbody tr td.dl a
{
	color: #D09610;
	text-decoration: none;
}

#downloads .rtable > .release table.pkggroup tbody tr td.dl a:hover
{
	text-decoration: underline;
}

#downloads .rtable > .release table.pkggroup tbody tr td.dl a.checksums
{
	margin-right: 10px;
}

#downloads_checksums_overlay
{
	background: transparent;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

#downloads_checksums
{
	background: #eaeaea;
	border: 1px solid #c2c2c2;
	border-radius: 3px;
	box-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
	display: none;
	padding: 14px;
	position: absolute;
	left: 300px;
	top: 100px;
	z-index: 9999;
}

#downloads_checksums:after,
#downloads_checksums:before
{
	border: solid transparent;
	content: " ";
	height: 0;
	pointer-events: none;
	position: absolute;
	top: 100%;
	width: 0;
}

#downloads_checksums:after
{
	border-color: rgba(234, 234, 234, 0);
	border-top-color: #eaeaea;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}

#downloads_checksums:before
{
	border-color: rgba(194, 194, 194, 0);
	border-top-color: #c2c2c2;
	border-width: 9px;
	left: 50%;
	margin-left: -9px;
}

#downloads_checksums dl
{
	font-size: 13px;
	margin: 0 0 6px 0;
}

#downloads_checksums dl:last-child
{
	margin-bottom: 0;
}

#downloads_checksums dl dt
{
	float: left;
	font-weight: bold;
	width: 40px;
}

#downloads_checksums dl dd
{
	margin: 0 0 0 50px;
}
