.full_widget
{
	border: 0 !important;
	background: transparent !important;
}
.connect_top > a,
td + .connect_widget_vertical_center
{
	display: none !important;
}
.connect_top
{
	background: none !important;
	border-bottom: 1px solid #bdbdbd !important;
	padding: 10px 5px 8px 5px !important;
}
.connect_top > .connect_action > .name_block > a
{
	color: #D09610 !important;
	text-shadow: #ededed 0 1px 1px !important;
	visibility: hidden !important;
}
.connect_top > .connect_action > .name_block > a > .name
{
	visibility: visible !important;
}
.connect_top > .connect_action > table
{
	position: absolute;
	right: 10px;
	top: 0;
}
.connect_widget_interactive_area
{
	position: absolute !important;
	right: 5px !important;
	top: 0 !important;
}
.connections
{
	border-top: 1px solid #e1e1e1 !important;
	padding: 10px 0 12px 16px !important;
}
.connections > .total
{
	color: #6b6b6b !important;
	text-shadow: #ededed 0 1px 0 !important;
}
.connections_grid > .grid_item
{
	height: 45px !important;
	margin: 0 1px 1px 0 !important;
	padding: 0 !important;
	width: 45px !important;
}
.connections_grid > .grid_item .name
{
	display: none !important;
}

