#get_involved
{
	margin: 10px 0 50px 0;
	position: relative;
}

#get_involved a
{
	color: #D09610;
	text-decoration: none;
}

#get_involved a:hover
{
	text-decoration: underline;
}

#get_involved p
{
	font-size: 1.2em;
}

#get_involved .step h2
{
	margin: 20px 0 5px 0;
}

#get_involved .step h2 span
{
	color: #aaa;
	display: inline-block;
	width: 25px;
}

#get_involved .step > p
{
	margin: 0 0 0 25px;
}

#get_involved .step .repo
{
	margin: 0 0 10px 25px;
}

#get_involved .step .repo h3
{
	color: #999;
	font-size: 1.3em;
	margin: 0;
	padding: 0;
}

#get_involved .step .repo h3 a
{
	color: #666;
	text-decoration: none;
}

#get_involved .step .repo h3 a:hover
{
	text-decoration: underline;
}

#get_involved .step .repo p
{
	margin: 0;
	padding: 0;
}

#get_involved .step a.irc
{
	color: #888;
	display: block;
	font-size: 1.6em;
	margin: 10px 0 10px 25px;
	text-decoration: none;
}

#get_involved .step a.irc span
{
	color: #666;
}

#get_involved > .content
{
	float: left;
	width: 500px;
}

#get_involved > .sidebar
{
	float: right;
	margin: 65px 0 0 0;
	width: 350px;
}

/**
 * Sidebar box: Google+
 * --------------------
 */

.getInvolvedBox.googleplus > .box .inner
{
	padding: 10px 20px;
}

.getInvolvedBox.googleplus > .icon > .icon
{
	background-image: url(../images/sprite_get-involved-icons/googleplus.png);
	height: 45px;
	margin: 1px 5px;
	width: 44px;
}

/**
 * Sidebar box: Facebook
 * ---------------------
 */

.getInvolvedBox.facebook > .icon > .icon
{
	background-image: url(../images/sprite_get-involved-icons/facebook.png);
	height: 45px;
	margin: 1px 5px;
	width: 44px;
}

.getInvolvedBox.facebook > .box .inner
{
	padding: 10px 20px;
}

/**
 * Sidebar box: GitHub
 * -------------------
 */

.getInvolvedBox.github > .icon > .icon
{
	background-image: url(../images/sprite_get-involved-icons/github.png);
	height: 47px;
	margin: 0 5px;
	width: 47px;
}

.getInvolvedBox.github > .box ul
{
	margin: 0 2px;
	padding: 6px 0;
	list-style-type: none;
}

.getInvolvedBox.github > .box ul li:last-child
{
	border-bottom: 0;
}

.getInvolvedBox.github > .box ul li:last-child .inner
{
	border-bottom: 0;
}

.getInvolvedBox.github > .box ul li .inner
{
	color: #6b6b6b;
	font-size: 1em;
	font-weight: bold;
	padding: 5px 20px 7px 22px;
	text-shadow: #ededed 0 1px 0;
}

.getInvolvedBox.github > .box ul li a
{
	text-shadow: #ededed 0 1px 0;
}

.getInvolvedBox.github > .box ul li span
{
	color: #979797;
	text-shadow: #ededed 0 1px 0;
}
