#page .page_item
{
	margin: 0 0 40px 0;
	position: relative;
}

#page .page_item > h1
{
	margin: 15px 0 10px 0;
}

#page .page_item > h1 a
{
	color: #666;
	text-decoration: none;
}

#page .page_item > h1 a:hover
{
	text-decoration: underline;
}

#page .page_item > .info
{
	font-size: 13px;
	font-style: italic;
	margin: 0 0 10px 0;
}

#page .page_item > .toc
{
	background: #fff;
	border: 1px solid #ccc;
	color: #aaa;
	float: right;
	margin: 0 0 10px 10px;
	padding: 10px;
}

#page .page_item > .toc nav
{
	padding: 6px 0 0 0;
}

#page .page_item > .toc nav a
{
	color: #666;
	display: block;
	font-size: 13px;
	text-decoration: none;
}

#page .page_item > .toc nav a:hover
{
	text-decoration: underline;
}

#page .page_item > .toc nav a.depth_1 { padding-left: 10px; }
#page .page_item > .toc nav a.depth_2 { padding-left: 20px; }
#page .page_item > .toc nav a.depth_3 { padding-left: 30px; }

#page .page_item ul.page_links
{
	list-style: none;
	margin: 10px 0 10px 0;
	padding: 0;
	overflow: hidden;
}

#page .page_item ul.page_links > li
{
	display: inline-block;
	margin-right: 15px;
}

#page .page_item ul.page_links > li:first-child a
{
	color: #666;
}

#page .page_item ul.page_links > li a
{
	display: inline-block;
	padding: 8px 12px;
	background-color: #D8D8D8;
	color: #999;
	font-weight: bold;
	text-decoration: none;
	border-radius: 8px;
}

#page .page_item ul.page_links > li a:hover
{
	color: #666;
}

#page .page_item ul.page_links > li:first-child a:hover
{
	color: #000;
}

#page.list .page_item .parsedContent h2,
#page.list .page_item .parsedContent h3,
#page.list .page_item .parsedContent h4,
#page.list .page_item .parsedContent h5,
#page.list .page_item .parsedContent h6
{
	clear: none;
}

#page.list nav.pagination
{
	border-top: 1px solid #ccc;
	height: 20px;
	margin: 20px 0 0 0;
	padding: 5px 0;
}

#page.list nav.pagination a
{
	color: #333;
	font-size: 13px;
	text-decoration: none;
}

#page.list nav.pagination a:hover
{
	text-decoration: underline;
}

#page.list nav.pagination a.next
{
	float: right;
}

#livefyre
{
	margin-top: 0 !important;
}
