.uiCode
{
	background: #4b4b4b;
	border: 1px solid #252525;
	border-radius: 10px;
	font-family: Monaco, monospace;
	font-size: 12px;
	margin: 5px 0 10px 0;
	padding: 1px;
	position: relative;
}

.uiCode > .shadow
{
	background: rgba(55, 55, 55, 0.5);
	border-radius: 9px 9px 0 0;
	height: 34px;
	position: absolute;
	width: 100%;
}

.uiCode > .inner
{
	background: #272727;
	border-radius: 9px;
	display: table;
	width: 100%;
}

.uiCode > .inner > .numbers
{
	background: #161616;
	border-radius: 9px 0 0 9px;
	border-right: 1px solid #000000;
	display: table-cell;
	line-height: 18px;
	min-width: 35px;
	padding: 10px 15px 10px 0;
	width: 35px;
}

.uiCode > .inner > .numbers > span
{
	color: #666666;
	display: block;
	position: relative;
	text-align: right;
}

.uiCode > .inner > code
{
	background: none;
	border-left: 1px solid #363636;
	display: table-cell;
	line-height: 18px;
	padding: 10px 15px;
	position: absolute;
}

code
{
	background: #272727;
	color: #ABDABA;
	display: block;
	padding: 15px;
	white-space: pre;
}

code .comment
{
	color: #999;
}

code .string
{
	color: #F44;
}

code .constant.numeric
{
	color: #FFF;
}

code .hss-combinator
{
	color: #ABDABA;
}

code .entity.name.class,
code .entity.name.id,
code .entity.name.tag,
code .support.tag,
code .hss-selector
{
	color: #FFF;
}

code .css-property,
code .hss-property
{
	color: #72A1CE;
}

code .entity-name-pseudo,
code .hss-filter
{
	color: #6ADB25;
}

code .hss-object-type
{
	color: #FD6C8E;
}

code .hss-object-name
{
	color: #B68CB2;
}

code .hss-function
{
	color: #FDE22D;
}

code .constant.hex-color,
code .hss-instruction
{
	color: #1AFAFD;
}

code .css-value,
code .hss-keyword
{
	color: #FDA062;
}

