/**
 * Form elements
 * =============
 */

.uiInput
{
	background: #fff;
	display: inline-block;
	border: 1px solid #B3B3B3;
	border-radius: 4px;
	box-shadow: #ECECEC 0 1px 0, #ECECEC 0 -1px 0;
	margin: 0 5px 0 0;
	padding: 6px;
}

.uiInput.button
{
	background-image: linear-gradient(
		bottom,
		rgb(255,255,255) 100%,
		rgb(221,221,221) 50%);
	background-image: -o-linear-gradient(
		bottom,
		rgb(255,255,255) 100%,
		rgb(221,221,221) 50%);
	background-image: -moz-linear-gradient(
		bottom,
		rgb(255,255,255) 100%,
		rgb(221,221,221) 50%);
	background-image: -webkit-linear-gradient(
		bottom,
		rgb(255,255,255) 100%,
		rgb(221,221,221) 50%);
	background-image: -ms-linear-gradient(
		bottom,
		rgb(255,255,255) 100%,
		rgb(221,221,221) 50%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(255,255,255)),
		color-stop(0.5, rgb(221,221,221)));
	border: 1px solid #999;
}

input[type!=submit].uiInput
{
	max-width: 300px;
	width: 90%;
}

input[type=text].uiInput
{
	width: 220px;
}

textarea.uiInput
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	height: 120px;
	width: 100%;
}

/**
 * Message boxes
 * =============
 * @todo style this
 */

.message_std
{
	border: 1px solid #bbb;
	color: #222;
	margin: 5px 0;
	padding: 5px;
}

.message_std.error
{
	border: 1px solid #8C2E0B;
	color: #8C2E0B;
}

/**
 * Standard buttons
 * ===============
 */

.button_std.inline
{
	display: inline-block;
}

.button_std,
.button_std:visited,
.button_std:active
{
	display: block;
	margin: 0 8px;
	height: 37px;
	position: relative;
	margin: 0 8px;
	color: white;
	text-decoration: none;
	text-shadow: #BC910E 0 1px 0;
	font-weight: bold;
}

.button_std > .header,
.button_std > .footer
{
	display: block;
	width: 8px;
	height: 37px;
	background-image: url(../images/sprite32.png);
	background-position: -1px -1px;
	position: absolute;
	left: -8px;
	top: 0;
}

.button_std > .content
{
	display: block;
	height: 37px;
	background-image: url(../images/sprite_repeat_h.png);
	background-position: 0 -1px;
	line-height: 35px;
	padding: 0 0 0 2px;
}

.button_std > .content > .block_0
{
	display: block;
	width: 18px;
	height: 18px;
	float: left;
	margin: 8px 8px 0 2px;
	background-image: url(../images/sprite32.png);
	background-position: -69px -1px;
}

.button_std > .footer
{
	left: auto;
	right: -8px;
	background-position: -9px -1px;
}

.button_std:hover > .header
{
	background-position: -18px -1px;
}

.button_std:hover > .content
{
	background-position: 0 -39px;
}

.button_std:hover > .footer
{
	background-position: -26px -1px;
}

.button_std.go > .content
{
	padding: 0 0 0 10px;
}

.button_std.go > .content > .block_0
{
	display: block;
	width: 17px;
	height: 17px;
	float: right;
	margin: 10px 2px 0 8px;
	background-image: url(../images/sprite32.png);
	background-position: -90px -21px;
}

/**
 * Gray button
 * -----------
 */

.button_std.gray
{
	color: #7A7A7A;
	text-shadow: #E3E3E3 0 1px 0;
}

.button_std.gray > .header
{
	background-position: -35px -1px;
}

.button_std.gray > .content
{
	background-position: 0 -77px;
}

.button_std.gray > .footer
{
	background-position: -43px -1px;
}

.button_std.gray:hover > .header
{
	background-position: -52px -1px;
}

.button_std.gray:hover > .content
{
	background-position: 0 -115px;
}

.button_std.gray:hover > .footer
{
	background-position: -60px -1px;
}

.button_std.gray.go > .content
{
	padding: 0 0 0 10px;
}

.button_std.gray.go > .content > .block_0
{
	display: block;
	width: 13px;
	height: 13px;
	float: right;
	margin: 13px 2px 0 8px;
	background-image: url(../images/sprite32.png);
	background-position: -220px -62px;
}

/**
 * Smaller gray button
 * -------------------
 */

.button_std.gray2
{
	color: #7A7A7A;
	height: 31px;
	text-shadow: #E3E3E3 0 1px 0;
}

.button_std.gray2 > .header
{
	background-position: -193px -29px;
	height: 31px;
}

.button_std.gray2 > .content
{
	background-position: 0 -153px;
	height: 31px;
	line-height: 30px;
	text-align: center;
}

.button_std.gray2 > .content > .block_0
{
	display: none;
}

.button_std.gray2 > .footer
{
	background-position: -201px -29px;
	height: 31px;
}

.button_std.gray2:hover > .header
{
	background-position: -210px -29px;
}

.button_std.gray2:hover > .content
{
	background-position: 0 -185px;
}

.button_std.gray2:hover > .footer
{
	background-position: -218px -29px;
}

.button_std.gray2.go > .content > .block_0
{
	display: block;
	width: 13px;
	height: 13px;
	float: right;
	margin: 10px 2px 0 8px;
	background-image: url(../images/sprite32.png);
	background-position: -220px -62px;
}

/**
 * Big button
 * ==========
 */
.button_big,
.button_big:visited,
.button_big:active
{
	display: block;
	margin: 0 8px;
	height: 67px;
	position: relative;
	color: white;
	text-decoration: none;
	text-shadow: #BC910E 0 1px 0;
	font-weight: bold;
}

.button_big > .header,
.button_big > .footer
{
	display: block;
	width: 8px;
	height: 67px;
	background-image: url(../images/sprite32.png);
	background-position: -193px -109px;
	position: absolute;
	left: -8px;
	top: 0;
}

.button_big > .content
{
	display: block;
	height: 67px;
	background-image: url(../images/sprite_repeat_h.png);
	background-position: 0 -240px;
}

.button_big > .content > .block_0
{
	display: block;
	width: 26px;
	height: 24px;
	float: left;
	margin: 19px 0 0 20px;
	background-image: url(../images/sprite32.png);
	background-position: -227px -29px;
}

.button_big > .footer
{
	left: auto;
	right: -8px;
	background-position: -201px -109px;
}

.button_big:hover > .header
{
	background-position: -210px -109px;
}

.button_big:hover > .content
{
	background-position: 0 -308px;
}

.button_big:hover > .footer
{
	background-position: -218px -109px;
}

