#as_modal
{
	background: rgba(80,80,80,.3);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 900;
}

#as_modal > #as_modal_wrap
{
	width: 50%;
	height: 50%;
	position: absolute;
}

#as_modal > #as_modal_wrap > .inner
{
	position: absolute;
}

body > .aa_bar
{
	background: #ddd;
	background: rgba(210, 210, 210, 0.75);
	border-bottom: 5px solid #ccc;
	border-bottom: 5px solid rgba(205, 205, 205, 0.75);
	color: #666;
	font-size: 14px;
	left: 0;
	padding: 10px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 9999;
}

body > .aa_bar p
{
	line-height: 1;
	margin: 0 0 10px 0;
	padding: 0;
}

body > .aa_bar p a
{
	color: #D09610;
	text-decoration: none;
}

body > .aa_bar p a:hover
{
	text-decoration: underline;
}

body > .aa_bar .actions a
{
	color: #777;
	font-size: 12px;
	text-decoration: none;
}

body > .aa_bar .actions a:hover
{
	text-decoration: underline;
}
