{{g/breadcrumb/html|raw}}

<div id="account">
	<h2>Account settings</h2>

	{{#errors|bool}}
		<div class="message_std error">
			{{#errors}}<p>{{.|raw}}</p>{{/errors}}
		</div>
	{{/errors}}

	<form action="/account" method="post" class="uiForm">
		<div class="uiFormField">
			<label for="field__User__name">Name</label>
			<input class="uiInput" id="field__User__name" type="text" name="name" value="{{user.name}}" />
		</div>

		<div class="uiFormField">
			<label for="field__User__email">E-mail</label>
			<input class="uiInput" id="field__User__email" type="text" name="email" value="{{user.email}}" />
		</div>

		<input type="hidden" name="_via_post" value="1" />

		<div class="uiFormField">
			<input type="submit" value="Update" />
		</div>
	</form>

	<h2>Connected OpenID identities</h2>
	<table class="uiTable">
		<thead>
			<tr>
				<th>Identity</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#oid}}
				<tr>
					<td>{{identity}}</td>
					<td>
						<form action="/account/oid_rm" method="post">
							<input type="hidden" name="identity" value="{{identity}}" />
							<input type="submit" value="Delete" />
						</form>
					</td>
				</tr>
			{{/oid}}
		</tbody>
		<tfoot>
			<tr class="actions">
				<td colspan="2">
					<a href="{{add_oid_url}}">Add new</a>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
