<div id="downloads">
	{% for group in release_groups %}
		<h2>{{group.name}}</h2>

		<div class="rtable" data-key="{{group.key}}">
			{% for version, release in group.releases %}
				<div class="release">
					<header>
						<a class="version" href="#">Version <mark>{{version}}</mark></a>
					</header>

					<div class="groups">
						{% for pkggroup in release.pkggroups %}
							<table class="pkggroup">
								<thead>
									<tr>
										<td class="name">{{pkggroup.group_name}}</td>
										<td class="ext">Type</td>
										<td class="arch">Architecture</td>
										<td class="size">Size</td>
										<td></td>
									</tr>
								</thead>
								<tbody>
									{% for file in pkggroup.files %}
										<tr>
											<td class="name"><span>{{file.package.name}}</span></td>
											<td class="ext">{{file.type}}</td>
											<td class="arch">{{file.arch}}</td>
											<td class="size">
												<span title="{{size}} bytes">{{file.size|filesize}}</span>
											</td>
											<td class="dl">
												{% if file.checksums %}
													<a href="#" data-checksums="{{file.checksums|json_encode}}"
														class="checksums">checksums</a>
												{% endif %}

												<a href="{{file.url}}" data-filename="{{file.filename}}" class="dl" target="_blank">download</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="none">No releases are currently available</div>
	{% endfor %}
</div>
