{{g/breadcrumb/html|raw}}

<div id="downloads">
	{{#release_groups}}
		<h2>{{name}}</h2>

		<div class="rtable">
			<header>
				<div class="col version">Version</div>
				<div class="colset_os">
					<div class="col">Windows</div>
					<div class="col">OS X</div>
					<div class="col">Linux</div>
					<div class="col">Source</div>
				</div>
			</header>
			{{#releases}}
				<div class="release">
					<header>
						<div class="col version">{{version}}</div>
					</header>
					{{#packages}}
						<article>
							<div class="col pkg">{{name}}</div>
							<div class="colset_os">
								{{#oses}}
									<div class="col">
										{{#files|bool}}
											<a class="dlink" href="#"><span class="icon {{os}}"></span>download</a>
											<div class="dropdown">
												{{#files}}
													<a href="{{url}}" target="_blank">{{ext}} <span>{{arch}}</span></a>
												{{/files}}
											</div>
										{{/files}}
									</div>
								{{/oses}}
							</div>
						</article>
					{{/packages}}
				</div>
			{{/releases}}
		</div>
	{{/release_groups}}

	{{^release_groups|bool}}
		<div class="none">No releases are currently available</div>
	{{/release_groups}}
</div>

{{^_ajax}}
	<script>
		withApp(function (App)
		{
			App.pageEvent.trigger('load_init', '/downloads');
		});
	</script>
{{/_ajax}}
