<div id="get_involved" class="clearfix">
	<div class="content">
		<h1>Welcome to our community!</h1>

		<p>We are a vibrant and growing group of volunteers, motivated by the desire
			of having better tools to create web sites and apps. If you have ever
			thought that the current web standards are just not good enough, you can
			help us make a change!</p>

		<div class="step">
			<h2><span>1.</span>Join us on IRC</h2>
			<p>Our IRC channel is the place where most of the discussions take
				place. There's almost always someone online so don't hesitate to
				drop by.</p>

			<a href="irc://irc.freenode.net/axr" class="irc"><span>#AXR</span> @ irc.freenode.net</a>

			<p>You can either use your own IRC client or the
				<a href="http://webchat.freenode.net/?channels=axr" target="_blank">online webchat</a>.
				The IRC logs are available at <a href="http://files.axrproject.org/irc" target="_blank">files.axrproject.org/irc</a>.</p>
		</div>

		<div class="step">
			<h2><span>2.</span>Fork us on <a href="https://github.com/axr" target="_blank">GitHub</a></h2>

			<div class="repo">
				<h3>axr/<a href="https://github.com/axr/core" target="_blank">core</a></h3>
				<p>The library that drives the essential functions for AXR.</p>
			</div>

			<div class="repo">
				<h3>axr/<a href="https://github.com/axr/browser" target="_blank">browser</a></h3>
				<p>A basic browser used to view AXR pages and provide developers a
					means to test the AXR library.</p>
			</div>

			<div class="repo">
				<h3>axr/<a href="https://github.com/axr/specification" target="_blank">specification</a></h3>
				<p>This is where we work on the HSS specification.</p>
			</div>
		</div>

		<div class="step">
			<h2><span>3.</span>Follow us</h2>

			<p>The easiest way to keep up with our progress is to follow us on
				<a href="https://twitter.com/axrproject" target="_blank">Twitter</a>,
				<a href="https://facebook.com/axrproject" target="_blank">Facebook</a> and
				<a href="https://plus.google.com/105865857923622443169" target="_blank">Google+</a></p>
		</div>
	</div>

	<div class="sidebar">
		<div class="getInvolvedBox googleplus">
			<div class="icon">
				<div class="icon"></div>
				<div class="arrow"></div>
			</div>
			<div class="box">
				<div class="title">
					<a href="https://plus.google.com/105865857923622443169" target="_blank">AXR Project</a> on Google+
				</div>
				<div class="inner">
					<div class="g-plus" data-action="share" data-width="254" data-height="24" data-href="https://plus.google.com/105865857923622443169"></div>
				</div>
			</div>
		</div>

		<div class="getInvolvedBox facebook">
			<div class="icon">
				<div class="icon"></div>
				<div class="arrow"></div>
			</div>
			<div class="box">
				<div class="title">
					<a href="https://facebook.com/AXRProject">AXR Project</a> on Facebook
				</div>
				<div class="inner">
					<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Faxrproject&amp;send=false&amp;layout=button_count&amp;width=260&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:260px; height:21px;" allowTransparency="true"></iframe>
				</div>
			</div>
		</div>

		<div class="getInvolvedBox github">
			<div class="icon">
				<div class="icon"></div>
				<div class="arrow"></div>
			</div>
			<div class="box">
				<div class="title">
					<a href="https://github.com/AXR" target="_blank">AXR</a> on GitHub
				</div>
				<ul class="_github_activity">
					<li><div class="inner">Loading...</div></li>
				</ul>
			</div>
		</div>
	</div>
</div>
