{{{_tabs_html}}}
{{{_breadcrumb_html}}}

<div id="get_involved">
	<div class="get_involved">
		<div class="join_us">
			<h1>Welcome to our community!</h1>
			<p>We are a vibrant and growing group of volunteers, motivated by the desire of having better tools to create web sites and apps.</p>

			<h2>Get involved</h2>
			<p>If you have ever thought that the current web standards are just not good enough, you can help us make a change!</p>

			<a href="#" class="join button_std">
				<span class="header"></span>
				<span class="content"><span class="block_0"></span>Get started right now!</span>
				<span class="footer"></span>
			</a>

			<h2>We need all kinds of volunteers:</h2>
			<ul class="we_need">
				<li><span class="block_0"></span><span>Beta testers</span></li>
				<li><span class="block_0"></span><span>Developers</span></li>
				<li><span class="block_0"></span><span>Designers</span></li>
				<li><span class="block_0"></span><span>Sysadmins</span></li>
				<li><span class="block_0"></span><span>Copywriters</span></li>
			</ul>
			<ul class="we_need">
				<li><span class="block_0"></span><span>Computer Graphic specialists</span></li>
				<li><span class="block_0"></span><span>JavaScript experts</span></li>
				<li><span class="block_0"></span><span>Typography experts</span></li>
				<li><span class="block_0"></span><span>Writers for the blog</span></li>
				<li><span class="block_0"></span><span>and so many more...</span></li>
			</ul>
			<br style="clear: both" />
		</div>

		<div class="community">
			<div class="forums">
				<h2>Forums</h2>
				<ul>
					<li>
						<a>This is where forums titles will appear when implemented</a>
						<div class="info">by veosotano on 2011/12/17</div>
					</li>
					<li>
						<a>Please help us out and help us make a great site</a>
						<div class="info">by veosotano on 2011/12/17</div>
					</li>
					<li>
						<a>Another example text placeholder</a>
						<div class="info">by veosotano on 2011/12/17</div>
					</li>
				</ul>

				<a href="/under-construction" class="enter button_std gray2 go">
					<span class="header"></span>
					<span class="content">enter forums<span class="block_0"></span></span>
					<span class="footer"></span>
				</a>
			</div>

			<div class="chat">
				<div class="separator">
					<div class="extra_0"></div>
					<div class="extra_1"></div>
				</div>
				<div class="nested_0">
					<h2>Chat</h2>
					<div class="nested_1">
						<p>We are almost always online on the IRC channel. You can use your favorite IRC client or our web chat.</p>

						<div class="ircinfo">
							<p>Server: <strong>irc.freenode.net</strong></p>
							<hr />
							<p>Channel: <strong>#AXR</strong></p>
						</div>

						<div class="ircstatus">
							Right now: <span>x</span> online
						</div>
					</div>
					<a href="http://webchat.freenode.net/?channels=axr" class="enter button_std gray2 go">
						<span class="header"></span>
						<span class="content">enter webchat<span class="block_0"></span></span>
						<span class="footer"></span>
					</a>
				</div>
			</div>

			<br style="clear: both" />
		</div>
	</div>

	<div class="sidebar">
		<div class="separator">
			<div class="extra_0"></div>
			<div class="extra_1"></div>
		</div>

		<div class="box newsletter">
			<div class="icon">
				<div class="extra_0"></div>
				<div class="extra_1"></div>
			</div>
			<div class="nested_0">
				<div class="extra_0"></div>
				<div class="title">Join the mailing list</div>
				<div class="inner">
					<p>Enter your email address below to participate in discussions and receive announcements.</p>
					<form class="clearfix" name="google_groups_subscribe_form" action="http://groups.google.com/group/axr-main/boxsubscribe">
					  <input type="hidden" name="hl" value="en" />
					  <input type="text" class="subscribe" name="email" />
					</form>
				</div>
				<div class="extra_1"></div>
			</div>
		</div>

		<div class="box twitter">
			<div class="icon">
				<div class="extra_0"></div>
				<div class="extra_1"></div>
			</div>
			<div class="nested_0">
				<div class="inner _last_tweet">Loading...</div>
				<div class="follow">
					Follow us on Twitter: <a href="https://twitter.com/AXRProject">@AXRProject</a>
				</div>
			</div>
		</div>

		<div class="box googleplus">
			<div class="icon">
				<div class="extra_0"></div>
				<div class="extra_1"></div>
			</div>
			<div class="nested_0">
				<div class="title"><a href="https://plus.google.com/105865857923622443169" target="_blank">AXR project</a> on Google+</div>
				<div class="inner">
					<div class="g-plus" data-action="share" data-width="254" data-height="24" data-href="https://plus.google.com/105865857923622443169"></div>
				</div>
			</div>
		</div>

		<div class="box facebook">
			<div class="icon">
				<div class="extra_0"></div>
				<div class="extra_1"></div>
			</div>
			<div class="nested_0">
				<div class="inner">
					<iframe src="https://www.facebook.com/plugins/fan.php?id=120456481367465&stream=false&header=false&width=260&height=258&connections=20&css={{_www_url}}/static/css/facebook.css?nc=3" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:260px; height:258px;" allowTransparency="true"></iframe>
				</div>
			</div>
		</div>

		<!--<div class="box github">
			<div class="icon">
				<div class="extra_0"></div>
				<div class="extra_1"></div>
			</div>
			<div class="nested_0">
				<ul id="ghactivity">
					<li><div class="inner">Loading...</div></li>
				</ul>

				<div class="inner">
					<a href="https://github.com/axr" class="see_all button_std go">
						<span class="header"></span>
						<span class="content">see all<span class="block_0"></span></span>
						<span class="footer"></span>
					</a>
				</div>
			</div>
		</div>-->
	</div>
	<br style="clear: both" />
</div>

{{^_ajax}}
	<script>
		withApp(function (App)
		{
			App.pageEvent.trigger('load_init', '/get-involved');
		});
	</script>
{{/_ajax}}

