{{g/tabs/html|raw}}
{{g/breadcrumb/html|raw}}

<div id="hssdoc_add">
	<h2>{{_title}}</h2>

	{{#has_errors}}
		<div class="message_std error">
			{{#errors}}<p>{{.|raw}}</p>{{/errors}}
		</div>
	{{/has_errors}}

	<form action="" method="post" class="uiForm">
		<div class="uiFormField">
			<label for="name">Object name</label>
			<input type="text" name="name" class="uiInput"
				value="{{object.name}}"
				{{#edit_mode}}disabled="disabled"{{/edit_mode}} />
		</div>

		<div class="uiFormField">
			<label for="name">Owner</label>
			<select name="owner_id" class="uiInput">
				<option>None</option>
				{{#objects}}
					<option value="{{id}}"{{#is_selected}} selected{{/is_selected}}>{{name}}</option>
				{{/objects}}
			</select>
		</div>

		<div class="uiFormField">
			<label for="description">Description</label>
			<textarea name="description" class="uiInput">{{object.description}}</textarea>
		</div>

		<input type="hidden" name="_via_post" value="1" />

		<div class="uiFormField">
			{{#edit_mode}}
				<input type="submit" value="Update" />
				or <a href="{{object.rm_url}}">Delete</a>
			{{/edit_mode}}

			{{^edit_mode}}
				<input type="submit" value="Create" />
			{{/edit_mode}}
		</div>
	</form>

	{{#edit_mode}}
		<h2>Properties</h2>

		<table class="uiTable">
			<thead>
				<tr>
					<th>Property</th>
					<th class="actions">Actions</th>
				</tr>
			</thead>
			<tbody>
				{{#properties}}
					<tr>
						<td>{{name}}</td>
						<td class="actions">
							<a href="{{edit_url}}">edit</a>
						</td>
					</tr>
				{{/properties}}
			</tbody>
			<tfoot>
				<tr class="actions">
					<td colspan="2">
						<a href="{{add_property_url}}">New property</a>
					</td>
				</tr>
			</tfoot>
		</table>
	{{/edit_mode}}
</div>
