<table>
	<thead>
		<th>Value{{#property.many_values}} <sup title="This property accepts multiple values at once.">unlimited</sup>{{/property.many_values}}</th>
		<th>Since version</th>
	</thead>
	<tbody>
		{{#values}}
			<tr>
				<td>
					{{#_ref_url|bool}}
						<a href="{{_ref_url}}">{{value}}</a>
					{{/_ref_url}}

					{{^_ref_url}}
						{{value}}
					{{/_ref_url}}

					{{#default}}
						<span class="flag default">default</span>
					{{/default}}
				</td>
				{{#_count}}
					<td rowspan="{{_count}}" class="version">{{version}}</td>
				{{/_count}}
			</tr>
		{{/values}}
	</tbody>
</table>
