{{g/tabs/html|raw}}
{{g/breadcrumb/html|raw}}

<div id="hssdoc_add">
	<h2>{{title}}</h2>

	{{#has_errors}}
		<div class="message_std error">
			{{#errors}}<p>{{.|raw}}</p>{{/errors}}
		</div>
	{{/has_errors}}

	<form action="" method="post" class="uiForm">
		<div class="uiFormField">
			<label for="name">Property name</label>
			<input type="text" name="name" class="uiInput"
				value="{{property.name}}" />
		</div>

		<div class="uiFormField">
			<label for="description">Description</label>
			<textarea name="description" class="uiInput">{{property.description}}</textarea>
		</div>

		<div class="uiFormField">
			<label for="readonly">Read-only</label>
			<input type="checkbox" name="readonly" value="1"
				{{#property.readonly}}checked{{/property.readonly}} />
		</div>

		<div class="uiFormField">
			<label for="many_values">Multiple values accepted</label>
			<input type="checkbox" name="many_values" value="1"
				{{#property.many_values}}checked{{/property.many_values}} />
		</div>

		<input type="hidden" name="_via_post" value="1" />

		<div class="uiFormField">
			{{#edit_mode}}
				<input type="submit" value="Update" />
				or <a href="{{property.rm_url}}">Delete</a>
			{{/edit_mode}}

			{{^edit_mode}}
				<input type="submit" value="Create" />
			{{/edit_mode}}
		</div>
	</form>

	{{#edit_mode}}
		<h2>Values</h2>

		<table class="uiTable values_table">
			<thead>
				<tr>
					<th>Value</th>
					<th>Since version</th>
					<th>Options</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr class="loading">
					<td colspan="4">Loading...</td>
				</tr>
			</tbody>
		</table>

		<div class="table_actions">
			<a href="#" class="_new_value">New value</a>
		</div>
	{{/edit_mode}}
</div>

{{^_ajax}}
	<script>
		withApp(function (App)
		{
			App.pageEvent.trigger('load_init', '/doc/edit_property');
			App.pageEvent.trigger('load', '/doc/edit_property');
		});
	</script>
{{/_ajax}}
