{{{_tabs_html}}}
{{{_breadcrumb_html}}}

<div id="hssdoc_add">
	<h2>{{_title}}</h2>

	{{#has_errors}}
		<div class="message_std error">
			{{#errors}}<p>{{{.}}}</p>{{/errors}}
		</div>
	{{/has_errors}}

	<form action="" method="post" class="uiForm">
		<div class="uiFormField">
			<label for="name">Property name</label>
			<input type="text" name="name" class="uiInput"
				value="{{property.name}}" />
		</div>

		<div class="uiFormField">
			<label for="description">Description</label>
			<textarea name="description" class="uiInput">{{property.description}}</textarea>
		</div>

		<div class="uiFormField">
			<label for="description">Read-only</label>
			<input type="checkbox" name="readonly" value="1"
				{{#property.readonly}}checked{{/property.readonly}} />
		</div>

		<input type="hidden" name="_via_post" value="1" />

		<div class="uiFormField">
			{{#edit_mode}}
				<input type="submit" value="Update" />
				or <a href="{{delete_url}}">Delete</a>
			{{/edit_mode}}

			{{^edit_mode}}
				<input type="submit" value="Create" />
			{{/edit_mode}}
		</div>
	</form>
</div>

