{{g/tabs/breadcrumb|raw}}
{{g/tabs/html|raw}}

<div id="hssdoc_obj" class="clearfix">
	{{sidebar|raw}}

	<div class="wrapper">
		<h1>{{object.name}}</h1>

		<div class="parsedContent">
			{{object.description|markdown|raw}}
		</div>

		{{#properties}}
			<section class="prop_item" data-property="{{name}}">
				<header>
					<h2>{{name}}</h2>

					{{#readonly}}
						<span class="ro">Read-only</span>
					{{/readonly}}

					{{#can_edit}}
						<a href="{{edit_url}}" class="action">[edit]</a>
					{{/can_edit}}
				</header>

				<div class="parsedContent">
					{{description|markdown|raw}}
				</div>

				{{_values_table|raw}}
			</section>
		{{/properties}}
	</div>
</div>

{{^_ajax}}
	<script>
		withApp(function (App)
		{
			App.pageEvent.trigger('load_init', '/doc');
			App.pageEvent.trigger('load', '/doc');
		});
	</script>
{{/_ajax}}
