<div id="auth_login_choice">
	<h2>Connect this OpenID identity to this account?</h2>
	<p>Do you want to connect the OpenID identity <em>{{identity}}</em>
	to the currently logged in account?</p>

	<form action="/auth/openid_assoc?pt={{pt}}" method="post">
		<input type="hidden" name="_via_post" value="1" />

		<a href="#" class="uiButton go inline create">
			<span class="inner">
				<span class="icon"></span>
				Connect
			</span>
		</a>
		{{^_jsonly}}
			<noscript>
				<style type="text/css">
					#auth_login_choice a.create
					{
						display: none;
					}
				</style>
				<input class="input_std" type="submit" value="Connect" />
			</noscript>
		{{/_jsonly}}
		or <a href="/auth/openid_assoc?cancel=1&pt={{pt}}" class="cancel">cancel</a>
	</form>
</div>

{{^_ajax}}
	<script>
		withApp(function (App)
		{
			App.pageEvent.trigger('load', '/auth');
		});
	</script>
{{/_ajax}}

