<div id="auth_login_choice">
	<h2>Connect this OpenID identity to this account?</h2>
	<p>Do you want to connect the OpenID identity <em>{{identity}}</em>
	to the currently logged in account?</p>

	<form action="/auth/openid_assoc?pt={{pt}}" method="post">
		<input type="hidden" name="_via_post" value="1" />

		<a href="#" class="create button_std go inline">
			<span class="header"></span>
			<span class="content">
				<span class="block_0"></span>
				<span class="big">Connect</span>
			</span>
			<span class="footer"></span>
		</a>
		{{^_jsonly}}
			<noscript>
				<style type="text/css">
					#auth_login_choice a.create
					{
						display: none;
					}
				</style>
				<input class="input_std" type="submit" value="Connect" />
			</noscript>
		{{/_jsonly}}
		or <a href="/auth/openid_assoc?cancel=1&pt={{pt}}" class="cancel">cancel</a>
	</form>
</div>

