{{{_tabs_html}}}
{{{_breadcrumb_html}}}

<div id="page">
	<div class="page_item" itemscope itemtype="http://schema.org/BlogPosting">
		<h1 itemprop="name">{{page.title}}</h1>
		<div class="info">
			Posted <!--by <span class="author" itemprop="author"
				itemtype="http://schema.org/Person">{{page.user.name}}</span>-->
			on <time itemprop="dateCreated">{{page.ctime_str_Ymd}}</time>
		</div>
		<div class="parsedContent clearfix" itemprop="articleBody">
			{{{page.fields.content}}}
		</div>
		{{{comments_html}}}
	</div>
</div>

