<div id="page" class="list">
	{% for post in posts %}
		<div class="page_item" itemscope itemtype="http://schema.org/BlogPosting">
			<h1 itemprop="name"><a href="{{post.permalink}}">{{post.title}}</a></h1>
			<div class="parsedContent clearfix" itemprop="description">
				{{post.summary|raw}}
			</div>
			<ul class="page_links">
				<li><a href="{{post.permalink}}" itemprop="url">Read more</a></li>
				<li><a href="{{post.permalink}}#comments">Leave a coment</a></li>
			</ul>
		</div>
	{% endfor %}

	<nav class="pagination">
		{% if has_prev %}
			<a href="?page={{prev}}" rel="prev">&laquo; Previous entries</a>
		{% endif %}
		{% if has_next %}
			<a href="?page={{next}}" rel="next" class="next">Next entries &raquo;</a>
		{% endif %}
	</nav>
</div>
