{{{_tabs_html}}}
{{{_breadcrumb_html}}}

<div id="page" class="list">
	{{#pages}}
		<div class="page_item">
			<h1>{{title}}</h1>
			<div class="parsedContent clearfix">
				{{{fields_merged.summary}}}
			</div>
			<ul class="page_links">
				<li><a href="{{permalink}}">Read more</a></li>
				<li><a href="{{permalink}}#comments">Leave a coment</a></li>
			</ul>
		</div>
	{{/pages}}

	<nav class="pagination">
		{{#has_prev}}
			<a href="?page={{prev}}">&laquo; Previous entries</a>
		{{/has_prev}}
		{{#has_next}}
			<a href="?page={{next}}" class="next">Next entries &raquo;</a>
		{{/has_next}}
	</nav>
</div>

