<div class="comments" data-hash="comments">
	<h1>Comments</h1>

	<div id="disqus_thread">Loading comments...</div>

	{{^_ajax}}
		<script>
			var disqus_developer = {{disqus.developer}};
			var disqus_shortname = '{{disqus.shortname}}';
			var disqus_identifier = '{{disqus.identifier}}';
			var disqus_title = '{{disqus.title}}';

			(function ()
			{
				var dsq = document.createElement('script');
				dsq.type = 'text/javascript';
				dsq.async = true;
				dsq.src = 'http://axr.disqus.com/embed.js';
				document.getElementsByTagName('body')[0].appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the comments</noscript>
	{{/_ajax}}
</div>
