{{{g/tabs/html}}}
{{{g/breadcrumb/html}}}

<div id="page_rm">
	<h2>Delete page?</h2>
	<p>You are about to delete page <strong>{{page.title}}</strong>. This
	action cannot be undone. Are you sure that this is what you want?</p>
	<p>If you just want to make this page private, <a href="/page/{{page.id}}/edit">click here</a>
	and select <em>Published: No</em>.</p>

	<form action="{{action}}" method="post">
		<input type="hidden" name="_via_post" value="1" />
		<input type="submit" class="uiButton" value="Delete this page" />
		or <a href="{{cancel_url}}">cancel</a>.
	</form>
</div>

