#main
{
	margin: auto;
	padding: 30px 0 55px 0;
	width: 900px;
}

#main .downloads {
	margin: auto;
	padding: 20px 0 0 0;
	width: 806px;
}

#main .downloads > h2 {
	border-bottom: 1px solid #d8d8d8;
	color: #666;
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0 5px 0;
	padding: 5px;
}

#main .downloads > .none {
	padding: 10px 5px;
}

#main .downloads > .dtable {
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

#main .downloads > .dtable > li {
	background: #d8d8d8;
	font-size: 13px;
	height: 37px;
	margin: 0 0 1px 0;
	padding: 0;
}

#main .downloads > .dtable > li.head {
	background: none;
}

#main .downloads > .dtable > li > .version {
	display: inline-block;
	padding: 10px 20px;
}

#main .downloads > .dtable > li > ul {
	float: right;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

#main .downloads > .dtable > li > ul > li {
	border-left: 1px solid #e5e5e5;
	display: inline-block;
	font-size: 13px;
	height: 37px;
	position: relative;
	width: 140px;
	z-index: auto;
}

#main .downloads > .dtable > li.head > ul > li {
	height: 27px;
	padding: 10px 20px 0 20px;
	width: 100px;
}

#main .downloads > .dtable > li > ul > li > a {
	color: #666;
	display: block;
	height: 27px;
	padding: 10px 20px 0 20px;
	text-decoration: none;
}

#main .downloads > .dtable > li > ul > li > a:hover {
	text-decoration: underline;
}

#main .downloads > .dtable > li > ul > li > a > .block_0 {
	background: url(../images/sprite32.png) no-repeat;
	display: inline-block;
	height: 16px;
	margin: 0 10px 0 0;
	width: 16px;
}

#main .downloads > .dtable > li > ul > li > a > .block_0.win {
	background-position: -213px -90px;
}

#main .downloads > .dtable > li > ul > li > a > .block_0.osx {
	background-position: -231px -90px;
}

#main .downloads > .dtable > li > ul > li > a > .block_0.linux {
	background-position: -247px -90px;
}

#main .downloads > .dtable > li > ul > li:hover .archmenu {
	display: block;
}

#main .downloads > .dtable > li > ul > li > .archmenu {
	background: #d8d8d8;
	display: none;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 37px;
	width: 140px;
	z-index: 11;
}

#main .downloads > .dtable > li > ul > li > .archmenu > li {
	margin: 0;
	padding: 0;
}

#main .downloads > .dtable > li > ul > li > .archmenu > li.na {
	padding: 8px 20px;
}

#main .downloads > .dtable > li > ul > li > .archmenu > li > a {
	color: #666;
	display: block;
	padding: 8px 20px;
	text-decoration: none;
	z-index: 11;
}

#main .downloads > .dtable > li > ul > li > .archmenu > li > a:hover {
	text-decoration: underline;
}

