body.page-user #breadcrumb
{
	clear: both;
	width: 900px;
	margin: 0 auto;
}

form > div
{
	background-color: #D9D9D9;
	border-radius: 10px;
	padding: 20px 20px 40px 20px;
	text-shadow: #fff 0 1px 0;
}

form > div .form-item
{
	min-height: 34px;
	margin: 0 0 1px 0;
	padding: 0 0 6px 0;
}

form > div .form-item a,
form > div .filter-wrapper a
{
	color: #D09610;
	text-decoration: none;
}

form > div .form-item a:hover,
form > div .filter-wrapper a:hover
{
	text-decoration: underline;
}

form > div .form-item label
{
	display: block;
	height: 1.5em;
	font-size: 1.1em;
	font-weight: bold;
	color: #8C8C8C;
}

form > div .form-item label .form-required
{
	color: #F00;
}

form > div .form-item > input,
form > div .form-item > select,
form > div .form-item textarea
{
	background: #fff;
	display: block;
	border: 1px solid #B3B3B3;
	border-radius: 4px;
	box-shadow: #ECECEC 0 1px 0, #ECECEC 0 -1px 0;
	padding: 6px;
}

form > div .form-item > input
{
	max-width: 500px;
	width: 90%;
}

form > div .form-item textarea
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	height: 120px;
	width: 100%;
}

form > div .form-item > input[type=file]
{
	height: 26px;
	padding-top: 4px;
}

form > div .form-item input.error
{
	border-color: #8C2E0B;
}

form > div .form-item .description
{
	display: block;
	width: 250px;
	font-size: 1.1em;
	margin-right: 30px;
	padding: 0 0 20px 0;
	text-align: right;
	color: #8C8C8C;
}

form > div .form-item .description a
{
	color: #D09610;
	text-decoration: none;
}

form > div .form-item .description a:hover
{
	text-decoration: underline;
}

form > div .form-item.form-type-textarea .grippie
{
	display: none;
}

form > div #edit-actions
{
	float: right;
	padding: 5px 0 5px 0;
}

form > div #edit-actions > input
{
	margin-right: 2px;
}

form > div .filter-wrapper .filter-help
{
	float: right;
}

body.page-user #user-login > div,
body.page-user #user-pass > div,
body.page-user #user-register-form > div,
body.page-user #user-profile-form > div
{
	width: 540px;
	margin: 40px auto 40px;
}

body.page-user #user-register-form > div,
body.page-user #user-profile-form > div
{
	width: 700px;
}

body.page-user #user-login .form-item,
body.page-user #user-pass .form-item,
body.page-user #user-register-form .form-item,
body.page-user #user-profile-form .form-item
{
	min-height: 34px;
	margin: 0 0 1px 0;
	padding-bottom: 6px;
}

body.page-user #user-login .form-item label,
body.page-user #user-pass .form-item label,
body.page-user #user-register-form .form-item label,
body.page-user #user-profile-form .form-item label
{
	text-align: right;
	width: 250px;
}

body.page-user #user-register-form .form-item label,
body.page-user #user-profile-form .form-item label
{
	width: 410px;
}

body.page-user #user-login .form-item label .form-required,
body.page-user #user-pass .form-item label .form-required,
body.page-user #user-register-form .form-item label .form-required,
body.page-user #user-profile-form .form-item label .form-required
{
	color: #F00;
}

body.page-user #user-login .form-item > input,
body.page-user #user-login .form-item > input,
body.page-user #user-pass .form-item > input,
body.page-user #user-register-form .form-item > input,
body.page-user #user-profile-form .form-item > input,
body.page-user #user-profile-form .form-item > select
{
	float: right;
	width: 240px;
	height: 30px;
	margin-top: -1em;
	padding: 0 5px;
}

body.page-user #user-login .form-item input.error,
body.page-user #user-pass .form-item input.error,
body.page-user #user-register .form-item input.error,
body.page-user #user-profile-form .form-item input.error
{
	border-color: #8C2E0B;
}

body.page-user #user-profile-form .form-item > select
{
	width: 250px;
}

body.page-user #user-profile-form .form-item > input[type=file]
{
	height: 26px;
	padding-top: 4px;
}

body.page-user #user-login #edit-actions,
body.page-user #user-pass #edit-actions,
body.page-user #user-register-form #edit-actions,
body.page-user #user-profile-form #edit-actions
{
	float: right;
	padding: 5px 0 5px 0;
}

body.page-user #user-login #edit-actions > input,
body.page-user #user-pass #edit-actions > input,
body.page-user #user-register-form #edit-actions > input,
body.page-user #user-profile-form #edit-actions > input,
{
	margin-right: 2px;
}

body.page-user #user-login .form-item .description,
body.page-user #user-pass .form-item .description,
body.page-user #user-register-form .form-item .description,
body.page-user #user-profile-form .form-item .description
{
	display: block;
	width: 250px;
	font-size: 1.1em;
	margin-right: 30px;
	padding: 0 0 20px 0;
	text-align: right;
	color: #8C8C8C;
}

body.page-user #user-register-form .form-item .description,
body.page-user #user-profile-form .form-item .description
{
	width: 410px;
}

body.page-user #user-profile-form .password-suggestions,
body.page-user #user-profile-form .password-strength,
body.page-user #user-profile-form .form-item div.password-confirm,
body.page-user #user-profile-form #edit-picture,
body.page-user #user-profile-form fieldset legend
{
	display: none !important;
}

body.page-user #user-profile-form .form-item-pass > .description
{
	margin-top: -20px;
}

body.page-user #user-register-form > div > div > div > .description
{
	display: block;
	width: 410px;
}

