#breadcrumb
{
	margin: auto;
	padding: 30px 0 0 0;
	width: 900px;
}

#manifesto
{
	width: 920px;
	margin: 0 auto;
}

#manifesto > p
{
	text-align: right;
	color: #8C8C8C;
	text-shadow: white 0 1px 0;
}

#manifesto > .original_text
{
	background-color: #D6D6D6;
	border: 1px #F5F5F5 solid;
	border-radius: 10px;
	padding: 10px;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.05em;
	line-height: 1.65;
	margin-bottom: 30px;
}

#manifesto > .original_text > .extra_0
{
	background-color: white;
	border-radius: 3px;
	padding: 10px;
}


#manifesto > .original_text > .extra_0 > section
{
	padding: 54px;
	background-image: url(../images/manifesto/separator.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}

#manifesto > .original_text > .extra_0 > .dream img,
#manifesto > .original_text > .extra_0 > .goal img
{
	float: left;
	display: block;
}

#manifesto > .original_text > .extra_0 > .problem img,
#manifesto > .original_text > .extra_0 > .plan img
{
	float: right;
	display: block;
	margin-bottom: 10px;
}

#manifesto > .original_text > .extra_0 > .community,
#manifesto > .original_text > .extra_0 > .signature
{
	background: none;
	padding-top: 0;
}

#manifesto > .original_text > .extra_0 h2
{
	font-size: 1.5em;
}
