#main
{
	margin: 0 auto;
	padding: 30px 0 0 0;
	width: 820px;
}

#main > #breadcrumb
{
	padding-bottom: 20px;
}

#main .node > h1
{
	display: none;
}

#main .node .content p {
	font-size: 1.2em;
	line-height: 1.4;
	margin: 0 0 20px 0;
}

