/* @override http://axr.dev/sites/default/themes/axr/css/page.css?m2iyys */

#main
{
	margin: 0 auto;
	padding: 30px 0 0 0;
	width: 820px;
}

#main > #breadcrumb
{
	padding-bottom: 20px;
}

#main .node-teaser
{
	margin-bottom: 30px;
}

#main .node .content p {
	font-size: 1.2em;
	line-height: 1.4;
	margin: 0 0 20px 0;
}

#main .node .content a {
	color: #666;
}

#main .node .content a:hover
{
	color: #000;
}

#main .content ul.links
{
	list-style: none;
	margin: 0 0 10px;
	padding: 0;
	overflow: hidden;
}

#main .content ul.links > li
{
	display: inline-block;
	margin-right: 15px;
}

#main .content ul.links > li.comment_forbidden,
#main .content ul.links > li.blog_usernames_blog
{
	display: none;
}

#main .content ul.links > li.first a
{
	color: #666;
}

#main .content ul.links > li a
{
	display: inline-block;
	padding: 8px 12px;
	background-color: #D8D8D8;
	color: #999;
	font-weight: bold;
	text-decoration: none;
	border-radius: 8px;
}

#main .content ul.links > li a:hover
{
	color: #666;
}

#main .content ul.links > li.first a:hover
{
	color: #000;
}

