/* @override http://axr.dev/sites/default/themes/axr/css/page.css?m2iyys */

#main
{
	margin: 0 auto;
	padding: 30px 0 0 0;
	width: 820px;
}

#main > #breadcrumb
{
	padding-bottom: 20px;
}

#main .node .content p {
	font-size: 1.2em;
	line-height: 1.4;
	margin: 0 0 20px 0;
}