#main
{
	margin: auto;
	padding: 30px 0 0 0;
	width: 900px;
}

#search-form
{
	/* Because Drupal sucks. Even people at #drupal-support think so. */
	display: none !important;
}

#search
{
	min-height: 293px;
	padding: 35px 0 0 0;
}

#search > .results h2
{
	margin: 0 0 20px 0;
}

#search > .results .item
{
	margin: 0 0 25px 0;
}

#search > .results .item > .left
{
	float: left;
	width: 120px;
}

#search > .results .item > .left > .type
{
	color: #666;
	display: block;
	font-size: 10px;
	padding: 5px 0 3px 0;
	text-transform: uppercase;
}

#search > .results .item > .left > .date
{
	color: #999;
	display: block;
	font-size: 11px;
}

#search > .results .item > .right
{
	padding: 0 0 0 130px;
}

#search > .results .item > .right > a.title
{
	color: #666;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#search > .results .item > .right > a.title:hover
{
	text-decoration: underline;
}

#search > .results .item > .right > p
{
	font-size: 13px;
	color: #666;
	margin: 0;
	padding: 0;
}

