#main
{
	margin: auto;
	padding: 30px 0 0 0;
	width: 900px;
}

#search-form
{
	/* Because Drupal sucks. Even people at #drupal-support think so. */
	display: none !important;
}

#search
{
	min-height: 293px;
	padding: 25px 0 0 0;
}

#search .search_options_ghost
{
	height: 33px;
	margin: 0 0 20px 0;
}

#search .search_options
{
	background: #d9d9d9;
	border-radius: 5px;
	height: 23px;
	padding: 5px;
	width: 890px;
}

#search .search_options.stick
{
	position: fixed;
	top: 7px;
	z-index: 700;
}

#search .search_options.stick.stickLess
{
	top: 40px !important;
}

#search .search_options > form
{
	float: left;
}

#search .search_options > form > input[type=search]
{
	background: #fff;
	border: 1px solid #bbb;
	border-radius: 3px;
	font-size: 12px;
	padding: 3px 6px;
	outline: none;
	width: 270px;
}

#search .search_options > .options
{
	float: right;
}

#search .search_options > .options > select.type
{
	background: #fff;
	border: 1px solid #bbb;
	border-radius: 3px;
	font-size: 12px;
	padding: 2px 6px;
	outline: none;
}

#search .search_results h2
{
	margin: 0 0 20px 0;
}

#search .search_results .item
{
	margin: 0 0 25px 0;
}

#search .search_results .item > .left
{
	float: left;
	width: 120px;
}

#search .search_results .item > .left > .type
{
	color: #666;
	display: block;
	font-size: 10px;
	padding: 5px 0 3px 0;
	text-transform: uppercase;
}

#search .search_results .item > .left > .date
{
	color: #999;
	display: block;
	font-size: 11px;
}

#search .search_results .item > .right
{
	padding: 0 0 0 130px;
}

#search .search_results .item > .right > a.title
{
	color: #666;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#search .search_results .item > .right > a.title:hover
{
	text-decoration: underline;
}

#search .search_results .item > .right > p
{
	font-size: 13px;
	color: #666;
	margin: 0;
	padding: 0;
}

