/* @override http://axr.dev/resources/axr/english/css/about.css */

@import url(not_done.css);

#main #menu ul li.about a
{
	opacity: 1;
	background-image: url(../images/sprite.jpg);
	background-position: 0px -102px;
}