h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span
{
	font-size: 1em;
}


#menu ul li a
{
	background-image: none;
	width: 100%;
	height: 100%;
}

#menu ul li a:hover
{
	background-image: url(../images/sprite.jpg);
}

.outline_view .row.selected
{
	background-color: #DDD;
}

#spec.spec_item .join_list,
#spec > .chapter > .content > .draft_warning
{
	background-color: #EEE;
}