/* @override http://axr.dev/resources/axr/english/css/stuff.css */

@import url(not_done.css);

#main #menu ul li.resources a
{
	opacity: 1;
	background-image: url(../images/sprite.jpg);
	background-position: -477px -102px;
}