#main {
	margin: 0 20px;
	margin: auto;
	padding: 30px 0 0 0;
	position: relative;
	width: 940px;
}

#container > footer h2 {
	border-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
}

div#globalWrapper {
	font-size: 13px;
	position: relative;
}

div#column-one {
	padding-top: 0;
}

div#p-personal {
	font-size: 13px;
}

div#content {
	margin-top: 17px;
}

div#p-cactions {
	top: -10px;
	z-index: 12;
}

div#p-personal {
	position: absolute;
	right: 0;
	top: -23px;
}

div#p-personal ul {
	padding: 0;
}

div#p-personal ul li a:hover {
	background: none;
	text-decoration: underline;
}


div#p-navigation ul,
div#p-tb ul {
	padding-left: 20px;
}

div#footer {
	background: none;
	border: 0;
	margin: 6px 0 0 160px;
	padding: 0;
}

div#footer .links {
	float: left;
	text-align: left;
}

div#footer .links .info {
	margin: 0 0 2px 0;
}

div#footer .links a {
	color: #333;
	display: inline-block;
	font-size: 12px;
	margin: 0 10px 0 0;
}

div#footer img.poweredby {
	float: right;
}

