#tabs_main > a.new
{
	color: #cc2200;
}

#tabs_main > a.ca-talk,
#tabs_main > a.ca-watch,
#tabs_main > a.ca-unwatch,
#tabs_main > a.ca-varlang-0,
#tabs_main > a.ca-print
{
	margin-left: 18px;
}

/**
 * General styles
 * ==============
 */
#wiki
{
	font-size: 14px;
	margin: 20px 0 0 0;
}

#wiki a.new
{
	color: #cc2200 !important;
}

#wiki .printfooter
{
	display: none;
}

#wiki h1,
#wiki h2,
#wiki h3
{
	border-bottom: 1px solid #aaa;
	color: #222;
	font-weight: normal;
}

#wiki h1 .editsection,
#wiki h2 .editsection,
#wiki h3 .editsection
{
	font-size: 12px;
	font-weight: normal;
}

#wiki h1
{
	font-size: 23px;
	line-height: 31px;
	margin: 0 0 10px 0;
	padding: 9px 0 3px 0;
}

#wiki h2
{
	font-size: 18px;
	line-height: 24px;
	margin: 10px 0;
	padding: 9px 0 3px 0;
}

#wiki h3
{
	border-bottom: 0;
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
}

#wiki > footer
{
	border-top: 1px solid #aaa;
	margin: 20px 0 0 0;
	padding: 3px 0 0 0;
}

#wiki > footer > a
{
	color: #444;
	display: inline-block;
	font-size: 13px;
	margin: 0 10px 0 0;
	text-decoration: none;
}

#wiki > footer > a:hover
{
	text-decoration: underline;
}

/**
 * Content area
 * ============
 */
#wiki > .content
{
	padding: 1px 0 0 0;
}

#wiki > .content > .parsedContent p
{
	margin: 0 0 10px 0;
}

#wiki > .content > .categories
{
	background: #eaeaea;
	border: 1px solid #ccc;
	margin: 15px 0 0 0;
	padding: 3px;
}

#wiki > .content > footer
{
	font-size: 12px;
	font-style: italic;
	margin: 20px 0 0 0;
}

/**
 * TOC
 * ---
 */
#toc #toctitle
{
	text-align: center;
}

#toc #toctitle h2
{
	border: 0;
	display: inline;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

#toc td
{
	padding: 8px 8px 3px 8px;
}

#toc ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#toc ul ul
{
	margin: 0 0 0 20px !important;
}

#toc ul li a
{
	color: #555;
	text-decoration: none;
}

#toc ul li a .tocnumber
{
	color: #777;
	font-size: 12px;
}

#toc ul li a:hover .toctext
{
	color: #222;
	text-decoration: underline;
}

/**
 * Preferences
 * ===========
 */
#preftoc
{
	background: #eaeaea;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: block;
	font-size: 0;
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
}

#preftoc li
{
	display: inline-block;
	margin: 0;
	padding: 0;
}

#preftoc li.selected a 
{
	font-weight: bold;
	padding: 2px 5px;
}

#preftoc li a
{
	border-right: 1px solid #ccc;
	color: #444;
	display: inline-block;
	font-size: 13px;
	padding: 2px 6px;
	text-decoration: none;
}

#preftoc li a:hover
{
	color: #222;
}

/**
 * Form
 * ===========
 */
form a
{
	color: #444;
}

form fieldset
{
	border: 1px solid #ccc;
	margin: 0 0 10px 0;
	padding: 10px;
}

form fieldset > legend
{
	font-weight: bold;
}

form fieldset.prefsection
{
	border: 0;
	margin: 0;
	padding: 0;
}

form fieldset.prefsection > legend
{
	display: none;
}

form fieldset input
{
	background: #fff;
	display: inline-block;
	border: 1px solid #B3B3B3;
	border-radius: 3px;
	box-shadow: #ECECEC 0 1px 0, #ECECEC 0 -1px 0;
	margin: 0 5px 0 0;
	padding: 2px 4px;
}

form fieldset table td
{
	padding: 3px 0;
}

form fieldset table td.htmlform-tip
{
	font-size: 12px;
}

form fieldset table td.mw-label
{
	padding-right: 8px;
}

form fieldset table td.mw-label label
{
	color: #333;
}

#editform textarea
{
	font-family: Moncao, monospace !important;
}
